@using MvcApplication4_natpot.Models
@{
    Post Post = (Post)ViewData["Post"];
    Category Category = (Category)ViewData["Category"];
    ViewBag.Title = Post.Title;
    ViewBag.MetaKeywords = Post.Meta_Keywords;
    ViewBag.MetaDescription = Post.Meta_Description;
	ViewBag.MetaTitle = Post.Meta_Title;
    Layout = "~/Views/Shared/SiteLayout.cshtml";

    string GalleryName = "Gallery";
    if (Post.Id == "963" || Post.Id == "990" || Post.Id == "1017" || Post.Id == "1038" || Post.Id == "1042")
    {
        GalleryName = "PhotoForPrinting";
    }
}

<article class="article clearfix">
    
    <h1 class="a_title">@Post.Title</h1>

    <div class="n_body">
        @Html.Raw(Post.Content)  
        <div class="clear"></div>
        <br /><br />
        <a href="/@GalleryName" class="more"><< вернуться к списку</a>
    </div>

</article>