<div class="OnlyText">

    <div class="wpcf7" id="MeasurementForm" lang="ru-RU" dir="ltr">
        <div class="screen-reader-response"></div>
        <form action="/#wpcf7-f4-p2-o1" method="post" class="wpcf7-form" novalidate="novalidate">
            <p>&nbsp;</p>
            <h4>Отправить сообщение</h4>
            <p>
                <span class="your-name">
                    <input type="text" name="clientName" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Ваше имя" />
                </span>
                <span class="wpcf7-form-control-wrap your-email">
                    <input type="tel" name="clientPhone" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false" placeholder="Контактный телефон" />
                </span>
                <span class="wpcf7-form-control-wrap your-email">
                    <input type="tel" name="clientEmail" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false" placeholder="Email" />
                </span>
                <span class="wpcf7-form-control-wrap your-message">
                    <textarea name="clientMessage" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Вопросы и комментарии"></textarea>
                </span>
                <input type="button" value="Отправить" class="wpcf7-form-control wpcf7-submit" />
            </p>
            <div class="wpcf7-response-output wpcf7-display-none"></div>
        </form>
    </div>
    <div class="wpcf7" id="MeasurementFormDynamic" style="width:100%; display:none;">
        <div class="screen-reader-response"></div>
        <form action="/#wpcf7-f4-p2-o1" method="post" class="wpcf7-form" novalidate="novalidate">
            <p>&nbsp;</p>
            <h4 style="padding: 0; font-size: 24px; color: #333;">Заявка на замер</h4>
            <p>
                <input type="hidden" name="clientSystem" />
            <p style="margin-top: 10px;">Укажите номер своего телефона и мы обязательно свяжемся с Вами.</style>
            <p>&nbsp;</p>
            <span class="your-name">
                <input type="text" name="clientName" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Ваше имя" />
            </span>
            <span class="wpcf7-form-control-wrap your-email">
                <input type="tel" name="clientPhone" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false" placeholder="Контактный телефон" />
            </span>
            <span class="wpcf7-form-control-wrap your-email">
                <input type="tel" name="clientEmail" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false" placeholder="Email" />
            </span>
            <input type="button" value="Отправить" class="wpcf7-form-control wpcf7-submit" style="width:100%" />
            </p>
            <div class="wpcf7-response-output wpcf7-display-none"></div>
        </form>
    </div>
    <div id="contacts" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <span class="likeH3">Контакты</span>
        <div>
            <span class="likeH5 contacts2">Адрес:</span>
            <p>
                <img src="/Content/themes/ictec/images/pin.png" alt="pin" width="16" height="16" /> Мурманск, ул. Буркова/Книповича, 11/18 <br />
            </p>
        </div>
        <div>
            <span class="likeH5 contacts2">Телефоны:</span>
            <p>
                +7 (8152) 44-20-25 (с 9.00 до 19.00)<br />
                +7 (8152) 78-09-09 (с 9.00 до 17.00)
            </p>
        </div>
        <div>
            <span class="likeH5 contacts2">Почта:</span>
            <p><strong><a href="mailto:oblako-51@yandex.ru">oblako-51@yandex.ru</a></strong></p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>