<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <meta content=Ahsan name=author>
        <meta content="PIXEL - HTML5 App Landing Page" name=description>
        <meta content="landing, app landing, one page, parallax, html, html5" name=keywords>
        <meta content="IE=edge" http-equiv=X-UA-Compatible>
        <meta content="width=device-width,initial-scale=1" name=viewport>
        <title>Натяжные потолки Мурманск - &#171;Облако&#187;</title>
        <link href=css/font-awesome.min.css rel=stylesheet>
        <link href=css/vendor/customicon.css rel=stylesheet>
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" rel=stylesheet>
        <link href=images/favicon.ico rel="shortcut icon" type=image/x-icon>
        <link href=images/favicon.ico rel=icon type=image/x-icon>
        <link href=css/vendor/bootstrap.min.css rel=stylesheet>
        <link href=css/vendor/killercarousel.css rel=stylesheet>
        <link href=css/vendor/owl.carousel.min.css rel=stylesheet>
        <link href=css/vendor/owl.theme.default.min.css rel=stylesheet>
        <link href=css/vendor/animate.css rel=stylesheet>
        <link href=quform/css/base.css rel=stylesheet>
        <link href=quform/themes/light/light.css rel=stylesheet>
        <link href=css/base.css rel=stylesheet>
        <link href=css/main.css rel=stylesheet>
    </head>
    <body data-offset=100 data-spy=scroll>

        @RenderBody()

        <script src=js/vendor/jquery.min.js></script>
        <script src=js/vendor/bootstrap.min.js></script>
        <script src=js/vendor/smooth-scroll.min.js></script>
        <script src=js/vendor/wow.min.js></script>
        <script src=js/vendor/killercarousel.js></script>
        <script src=js/vendor/owl.carousel.min.js></script>
        <script src=quform/js/plugins.js></script>
        <script src=quform/js/scripts.js></script>
        <script src=js/main.js></script>
        <script src=js/custom.js></script>

    </body>
</html>
