<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Завод Облако</title>
<style type="text/css">
body { margin: 0; padding: 0; font: normal 12px Arial, Helvetica, sans-serif; background: #00c9ed; border-collapse: separate !important; line-height: 12px; font-size: 22px; }
img { border: 0; border-collapse: separate; }
a { text-decoration: underline; outline: none; color: #2883C4; border-collapse: separate; display: inline-block; }
td { vertical-align: top; border-collapse: separate; }
.MsoNormal { padding: 0; font-size: 0px; border-collapse: separate; }
.title1 { color: #2883C4 !important; font-size: 33px; padding: 0; margin: 20px 15px 20px 15px; font-weight: normal; font-family: Tahoma, Arial, Helvetica, sans-serif; border-collapse: separate; line-height: 32px; }
.title2 { color: #e44444 !important; font-size: 25px; padding: 0; margin: 15px 15px 5px 15px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; border-collapse: separate; line-height: 30px; }
.title5 { color: #e44444 !important; font-size: 18px; padding: 0; margin: 25px 15px 10px 15px; font-weight: normal; font-family: Arial, Helvetica, sans-serif; border-collapse: separate; line-height: 30px; }
.title3 { color: #333 !important; font-size: 13px; padding: 0; margin: 15px 15px 5px 15px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; border-collapse: separate; line-height: 30px; }
.title4 { color: #2883C4 !important; font-size: 20px; padding: 0; margin: 20px 15px 10px 15px; font-weight: normal; font-family: Tahoma, Arial, Helvetica, sans-serif; border-collapse: separate; line-height: 30px; }
.paragraph { margin: 10px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000000; line-height: 30px; border-collapse: separate; font-weight: normal; }
.paragraph3 { margin: 5px 3px 5px 3px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000000; line-height: 30px; border-collapse: separate; font-weight: normal; }
.paragraph2 { margin: 0px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000000; line-height: 30px; border-collapse: separate; }
.paragraph1 { margin: 5px 0px 5px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000000; line-height: 18px; border-collapse: separate; }
.paragraphFooter1 { margin: 5px 15px 15px 15px; padding: 0px 0px 0px 0px; text-align: right; font-size: 11px; font-weight: bold; color: #000000; font-size: 22px; line-height: 30px; border-collapse: separate; }
.paragraphFooter2 { margin: 5px 15px 15px 15px; padding: 0px 0px 0px 0px; text-align: center; font-size: 11px; font-weight: bold; color: #444444; font-size: 22px; line-height: 30px; border-collapse: separate; }
.hr { margin: 10px 15px 0px 15px; }
.wrap { background: #ffffff; margin: 0px 0px 0px 0px; text-align: left; border-collapse: separate; }
.wrapy4 { border-bottom: 1px solid #ccc; }
em { color: #e13d3d; }
</style>
</head>
<body style="margin: 0; padding: 0; font: normal 12px Arial, Helvetica, sans-serif; background: #ffffff; border-collapse: separate !important; line-height: 12px; font-size: 22px;">
<table width="580" border="0" cellpadding="0" cellspacing="0" bgcolor="#00c9ed" style="background: #00c9ed;">
    <tr>
        <td valign="top" width="580" style="background: #00c9ed; margin: 0px 0px 0px 0px; text-align: left; border-collapse: separate;" class="wrap" bgcolor="#00c9ed">
            <a href="http://www.demyr.ru/">
                <img src="http://www.demyr.ru/Content/themes/ictec/Templates/header.jpg" width="580" height="170" alt="Облако" align="top" style="text-decoration: underline; outline: none; color: #2883C4; border-collapse: separate; display: inline-block;" />
            </a>
            <h1 class="title1" style="color: #ffffff !important; font-size: 33px; padding: 0; margin: 20px 15px 20px 15px; font-weight: normal; font-family: Tahoma, Arial, Helvetica, sans-serif; border-collapse: separate; line-height: 32px; " align="center">Добрый день!</h1>
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="40%" align="left" style="font-size: 0%; vertical-align: middle; text-align: left;"><img src="http://www.demyr.ru/Content/themes/ictec/Templates/image1.jpg" width="183" alt="Elita" align="top" /></td>
                    <td style="font-size: 0%; vertical-align: top;">
                        <h1 class="title1" style="color: #ffffff !important; font-size: 33px; padding: 0; margin: 20px 15px 20px 15px; font-weight: normal; font-family: Tahoma, Arial, Helvetica, sans-serif; border-collapse: separate; line-height: 32px; " align="center">
                            Меня зовут Юлия, я приняла Ваш заказ.<br />
                            Спасибо за обращение в нашу компанию!
                        </h1>
                    </td>
                </tr>
            </table>
            <h1 class="title1" style="color: #ffffff !important; font-size: 33px; padding: 0; margin: 20px 15px 20px 15px; font-weight: normal; font-family: Tahoma, Arial, Helvetica, sans-serif; border-collapse: separate; line-height: 32px; " align="center">
                Для заключения договора, после снятия замеров, ждём вас в офисе по адресу: ул. Буркова, д.11/18
            </h1>
            <!--<h1 class="title1" style="color: #ffffff !important; font-size: 33px; padding: 0; margin: 20px 15px 20px 15px; font-weight: normal; font-family: Tahoma, Arial, Helvetica, sans-serif; border-collapse: separate; line-height: 32px; " align="center">
                Более 15 лет мы делаем ваш дом уютнее. 307 организаций Мурманска и области работают с нашей компанией и представляют продукцию завода «Облако».
            </h1>-->

            <hr style="margin: 10px 15px 10px 15px; color: #ffffff !important;" />

            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="40%" align="left" style="font-size: 0%; vertical-align: middle; text-align: left;"><img src="http://www.demyr.ru/Content/themes/ictec/Templates/image2.jpg" width="280" alt="Elita" align="top" /></td>
                    <td width="40%" align="left" style="font-size: 0%; vertical-align: middle; text-align: right;"><img src="http://www.demyr.ru/Content/themes/ictec/Templates/image3.jpg" width="280" alt="Elita" align="top" /></td>
                </tr>
            </table>

            <hr style="margin: 10px 15px 10px 15px; color: #ffffff !important;" />

            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="font-size: 0%; vertical-align: bottom;">
                        <p class="paragraph" style="margin: 20px 15px 20px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #ffffff !important; line-height: 30px; border-collapse: separate; font-weight: normal; " align="right">
                            Михаил,<br />
                            инженер-замерщик
                        </p>
                    </td>
                    <td width="40%" align="left" style="font-size: 0%; vertical-align: middle; text-align: right;"><img src="http://www.demyr.ru/Content/themes/ictec/Templates/image4.jpg" width="183" alt="Elita" align="top" /></td>
                </tr>
            </table>

            <hr style="margin: 10px 15px 0px 15px; color: #ffffff !important;" />

            <p class="paragraph" style="margin: 20px 15px 20px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #ffffff !important; line-height: 30px; border-collapse: separate; font-weight: normal; " align="left">
                Знаете ли Вы как не допустить ошибку, выбирая натяжной потолок или жалюзи?<br/>
                На что обратить внимание при выборе роллет?<br />
                Несколько советов от специалистов.
            </p>
            <h1 class="title2" style="color: #000084 !important; font-size: 25px; padding: 0; margin: 15px 15px 5px 15px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; border-collapse: separate; line-height: 30px;" align="left">
                Как выбрать натяжной потолок?
            </h1>
            <p class="paragraph" style="margin: 10px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000084; line-height: 30px; border-collapse: separate; font-weight: normal; " align="left">
                Полотна, из которых изготавливаются натяжные потолки бывают матовыми, сатиновыми, глянцевыми или
                фактурными, с различным тиснением на материале.
                Каждая фактура представлена цветовой гаммой от
                пастельных до ярких, насыщенных цветов, ассортимент большой, так как же выбрать свой вариант?
            </p>
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="font-size: 0%; vertical-align: top;">
                        <p class="paragraph" style="margin: 10px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000084; line-height: 30px; border-collapse: separate; font-weight: normal; " align="left">
                            Натяжные потолки бывают одно-, двух-, трехуровневыми.
                            Одноуровневый потолок считается стандартным и может быть
                            кипенно белым или, например,
                            зеленым, состоять из нескольких цветов или украшать комнату
                            изображением арт-печати.
                        </p>
                    </td>
                    <td width="40%" align="left" style="font-size: 0%; vertical-align: middle; text-align: right;"><img src="http://www.demyr.ru/Content/themes/ictec/Templates/img1.jpg" width="183" alt="Elita" align="top" /></td>
                </tr>
            </table>
            <p class="paragraph" style="margin: 10px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000084; line-height: 30px; border-collapse: separate; font-weight: normal; " align="left">
                Одноуровневый потолок подходит для любых помещений, особенно актуальным становится там, где часто случаются залития водой с верхних этажей или крыши. Вода
                скапливаясь , удерживается в полотне и не причиняет
                вреда паркету, коврам и прочему домашнему имуществу.
            </p>
            <p class="paragraph" style="margin: 10px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000084; line-height: 30px; border-collapse: separate; font-weight: normal; " align="left">
                Для того, чтобы скрыть перепады потолочных плит, трубы
                вентиляции, провода сигнализации, так некстати
                расположенные под самым потолком, вам подойдут все
                варианты натяжных потолков. Выбор зависит только от
                ваших замыслов.
            </p>
            <p class="paragraph" style="margin: 10px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000084; line-height: 30px; border-collapse: separate; font-weight: normal; " align="left">
                Двухуровневые потолки визуально меняют пространство и открывают возможности для различных вариантов
                дополнительного освещения: встроенные светильники
                могут располагаться по периметру первого уровня, на
                полотне потолка, сочетать оба варианта в разных
                комбинациях.
            </p>
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="font-size: 0%; vertical-align: top;">
                        <p class="paragraph" style="margin: 10px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000084; line-height: 30px; border-collapse: separate; font-weight: normal; " align="left">
                            Дополненные светодиодной лентой – создадут различные световые
                            эффекты: сделают ярко
                            освещенными рабочие зоны и дадут приглушенный свет над зонами
                            отдыха.
                        </p>
                    </td>
                    <td width="40%" align="left" style="font-size: 0%; vertical-align: middle; text-align: right;"><img src="http://www.demyr.ru/Content/themes/ictec/Templates/img2.jpg" width="183" alt="Elita" align="top" /></td>
                </tr>
            </table>
            <p class="paragraph" style="margin: 10px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000084; line-height: 30px; border-collapse: separate; font-weight: normal; " align="left">
                Трехуровневые или 3D потолки относятся к потолкам
                премиум-класса. Их мы рекомендуем тем, кто хотел бы иметь полностью уникальный интерьер и готов к несколько
                большим расходам, чем при установке стандартного
                потолка.
            </p>
            <p class="paragraph" style="margin: 10px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000084; line-height: 30px; border-collapse: separate; font-weight: normal; " align="left">
                Тенденция последних лет, на которую мы обратили
                внимание – заказчики, устав от обыденности интерьеров, всё чаще выбирают сложные потолки. Благодаря
                современным комплектующим, стоимость таких потолков снижается, и они становятся все более доступными по
                цене.
            </p>
            <h1 class="title1" style="color: #ffffff !important; font-size: 33px; padding: 0; margin: 20px 15px 20px 15px; font-weight: normal; font-family: Tahoma, Arial, Helvetica, sans-serif; border-collapse: separate; line-height: 32px; " align="left">
                При заключении договора Ваша скидка
                за заказ с сайта составит 6% или 10% , при
                предъявлении пенсионного удостоверения.
            </h1>
            <hr style="margin: 10px 15px 0px 15px; color: #ffffff !important;" />
            
            
            <h1 class="title2" style="color: #000084 !important; font-size: 25px; padding: 0; margin: 15px 15px 5px 15px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; border-collapse: separate; line-height: 30px;" align="left">
                Как выбрать жалюзи
            </h1>
            <p class="paragraph" style="margin: 10px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000084; line-height: 30px; border-collapse: separate; font-weight: normal; " align="left">
                Выбирая жалюзи, ответьте себе на вопрос – какую задачу
                в первую очередь должны решить будущие жалюзи.
            </p>
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="font-size: 0%; vertical-align: top;">
                        <p class="paragraph" style="margin: 10px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000084; line-height: 30px; border-collapse: separate; font-weight: normal; " align="left">
                            Полностью скрыть комнату от яркого
                            солнца возможно при помощи
                            горизонтальных жалюзи или рулонных штор из ткани блэкаут.
                        </p>
                        <p class="paragraph" style="margin: 10px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000084; line-height: 30px; border-collapse: separate; font-weight: normal; " align="left">
                            Для создания условной изолированности сотрудников в офисе и разграничения пространства – металлические
                            горизонтальные.
                        </p>
                    </td>
                    <td width="40%" align="left" style="font-size: 0%; vertical-align: middle; text-align: right;"><img src="http://www.demyr.ru/Content/themes/ictec/Templates/img3.jpg" width="183" alt="Elita" align="top" /></td>
                </tr>
            </table>
            <p class="paragraph" style="margin: 10px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000084; line-height: 30px; border-collapse: separate; font-weight: normal; " align="left">
                Изменить зрительное восприятие комнаты с низкими
                потолками способны вертикальные жалюзи.
            </p>
            <p class="paragraph" style="margin: 10px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000084; line-height: 30px; border-collapse: separate; font-weight: normal; " align="left">
                Дополнить интерьер в стиле эко – деревянные.
            </p>
            <p class="paragraph" style="margin: 10px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000084; line-height: 30px; border-collapse: separate; font-weight: normal; " align="left">
                Добавить «изюминку» - жалюзи с фотопечатью.
            </p>
            <p class="paragraph" style="margin: 10px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000084; line-height: 30px; border-collapse: separate; font-weight: normal; " align="left">
                Закрыть помещение от посторонних взглядов помогут
                все виды жалюзи, выбор зависит только от ваших желаний и особенностей существующего или планируемого
                интерьера.
            </p>
            <h1 class="title1" style="color: #ffffff !important; font-size: 33px; padding: 0; margin: 20px 15px 20px 15px; font-weight: normal; font-family: Tahoma, Arial, Helvetica, sans-serif; border-collapse: separate; line-height: 32px; " align="left">
                При заключении договора Ваша скидка за заказ
                с сайта составит 6% или 10%, при предъявлении
                пенсионного удостоверения.
            </h1>

            <hr style="margin: 10px 15px 0px 15px; color: #ffffff !important;" />

            <h1 class="title2" style="color: #000084 !important; font-size: 25px; padding: 0; margin: 15px 15px 5px 15px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; border-collapse: separate; line-height: 30px;" align="left">
                Что нужно знать, выбирая роллеты?
            </h1>
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="font-size: 0%; vertical-align: top;">
                        <p class="paragraph" style="margin: 10px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000084; line-height: 30px; border-collapse: separate; font-weight: normal; " align="left">
                            1. Механизм подъема
                            рольставней может быть ручным
                            или автоматическим, работающим
                            от электропривода.
                        </p>
                        <p class="paragraph" style="margin: 10px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000084; line-height: 30px; border-collapse: separate; font-weight: normal; " align="left">
                            2. Вручную поднимаются
                            облегченные варианты роллет,
                            весом до 70 кг.
                        </p>
                    </td>
                    <td width="40%" align="left" style="font-size: 0%; vertical-align: middle; text-align: right;"><img src="http://www.demyr.ru/Content/themes/ictec/Templates/img4.jpg" width="183" alt="Elita" align="top" /></td>
                </tr>
            </table>
            <p class="paragraph" style="margin: 10px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000084; line-height: 30px; border-collapse: separate; font-weight: normal; " align="left">
                3. Более прочными считаются ламели, изготовленные
                методом экструзии(продавливания). Они имеют большую толщину и ребро жесткости. Поэтому роллеты из таких
                ламелей считаются более надежными.
            </p>
            <p class="paragraph" style="margin: 10px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000084; line-height: 30px; border-collapse: separate; font-weight: normal; " align="left">
                4. Накладной способ крепления рольставней менее
                затратный, однако следует учитывать необходимость
                контроля и своевременной уборки снега, чтобы он
                не скапливался на защитном коробе роллет.
            </p>
            <p class="paragraph" style="margin: 10px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000084; line-height: 30px; border-collapse: separate; font-weight: normal; " align="left">
                5. Более надежный - встроенный, он в большей степени обеспечивает безопасность и вандалоустойчивость.
            </p>
            <p class="paragraph" style="margin: 10px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000084; line-height: 30px; border-collapse: separate; font-weight: normal; " align="left">
                6. При дистанционном управлении роллетами, существует возможность управлять одной рольставней или группой
                роллет, что наиболее удобно в офисах, когда нажатием
                одной кнопки выключателя опускаются или поднимаются роллеты на всех дверях одновременно.
            </p>
            <p class="paragraph" style="margin: 10px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000084; line-height: 30px; border-collapse: separate; font-weight: normal; " align="left">
                Если обеспечение безопасности и сохранение эстетичного внешнего вида дома или офиса стали актуальными для вас - звоните 44-20-25 и мы подберем вам наиболее
                оптимальный вариант.
            </p>
            <h1 class="title1" style="color: #ffffff !important; font-size: 33px; padding: 0; margin: 20px 15px 20px 15px; font-weight: normal; font-family: Tahoma, Arial, Helvetica, sans-serif; border-collapse: separate; line-height: 32px; " align="left">
                При заключении договора Ваша скидка
                за заказ с сайта составит 6% или 10% , при
                предъявлении пенсионного удостоверения.
            </h1>

            <hr style="margin: 10px 15px 0px 15px; color: #ffffff !important;" />
            <p class="paragraph" style="margin: 10px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 22px; color: #000000; line-height: 30px; border-collapse: separate; font-weight: normal; " align="right">
                С уважением, <br />
                коллектив производственной <br />
                компании «Евро-Строй» и завода «Облако»
            </p>
            <p class="paragraph" style="margin: 10px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 16px; color: #000000; line-height: 16px; border-collapse: separate; font-weight: normal; " align="right">
                г.Мурманск, ул. Буркова, 11/18<br />
                (8152-) 44-20-25 или<br />
                (8152) 78-09-09
            </p>
        </td>
    </tr>
</table>
</body>
</html>