<script src="/Scripts/Forms/MeasurementRequest.js"></script>

<div class="wpcf7" id="MeasurementForm" style="width:100%; display:none;">
    <form action="" method="post" class="wpcf7-form" novalidate="novalidate">
        <h4 style="margin: 10px 0 10px 0; font-size: 24px; color: #333;">Заявка на замер</h4>
        <p style="margin-top: 10px;">Укажите номер своего телефона и мы обязательно свяжемся с Вами.</p>
        <span class="your-name">
            <input type="text" name="clientName" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Ваше имя" />
        </span>
        <span class="wpcf7-form-control-wrap your-email">
            <input type="tel" name="clientPhone" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false" placeholder="Контактный телефон" />
        </span>
        <input type="button" value="Отправить" class="wpcf7-form-control MeasurementFormSubmit" style="width:100%" />
        <div class="wpcf7-response-output wpcf7-display-none"></div>
    </form>
</div>