@using MvcApplication4_natpot.Models
@{
    Post Post = (Post)ViewData["Post"];
    ViewBag.Title = "Контакты компании «ЕВРО-СТРОЙ»";
	ViewBag.MetaKeywords = "контакты ЕВРО-СТРОЙ, адрес ЕВРО-СТРОЙ, телефон ЕВРО-СТРОЙ";
    ViewBag.MetaDescription = "Контакты компании «ЕВРО-СТРОЙ», адрес, телефон, схема проезда, почта";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<article class="article clearfix">
    @if (Post != null)
    {
    @Html.Raw(Post.Content)
    }
    else {
    <h1 class="a_title">Контакты</h1>

    <div class="a_body clearfix">
        <ul>
            <li>
                <div class="contacts">г. Мурманск, ул. Буркова/Книповича, 11/18, &nbsp;Салон "Евро-Строй" &nbsp;</div>
            </li>
        </ul>
        <h1 style="text-align: left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>тел./факс: (8152) 44-20-25<br /></strong></h1>
        <table border="0" align="center">
            <tbody>
                <tr>
                    <td><img src="/Content/img/all/0_msdoknuv01w_kopiya.jpg" width="700" style="vertical-align: middle; margin: 5px; border: 1px solid black;" /></td>
                </tr>
            </tbody>
        </table>
        <p style="text-align: center;"></p>
        <p style="text-align: center;"></p>
        <ul>
            <li>
                <h1><strong>Торговый дом "Рекома", пр. Кольский, д.51/2, 1 этаж</strong></h1>
            </li>
        </ul>
        <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>моб. 8-921-708-20-25, 78-20-25</strong></h1>
        <p></p>
        <h1>email: katerinich1@rambler.ru</h1>
        <h2><a href="http://vk.com/eurostroy">http://vk.com/eurostroy</a></h2>
        <p></p>
        <p><a href="/Content/img/all/1_dsc_2483_kopia.jpg" class="coolimage" rel="article_gallery"><img src="/Content/img/all/1_resized_dsc_2483_kopia.jpg" /></a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<a href="/Content/img/all/1_dsc_2490_kopia.jpg" class="coolimage" rel="article_gallery"><img src="/Content/img/all/1_resized_dsc_2490_kopia.jpg" /></a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="/Content/img/all/1_5dpoja_3sjq.jpg" class="coolimage" rel="article_gallery"><img src="/Content/img/all/1_resized_5dpoja_3sjq.jpg" /></a></p>
        <p class="align_center"><strong>Алёна Поликарпова, менеджер &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Александра Попкова, менеджер &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Юлия Ланец, менеджер-дизайнер</strong></p>
        <p>&nbsp;</p>
        <p>
            <div data-center="68.96038799998959,33.078915000000016" data-zoom="16" data-map-type="yandex#map" data-baloon-title="Компания &laquo;Евро-Строй&raquo;" data-baloon-descr="" class="yandex_map" style="width: 745px; height: 330px;"></div>
        </p>
    </div>
    }

</article>