@using MvcApplication4_natpot.Models
@{
    Post Post = (Post)ViewData["Post"];
    List<Post> Posts = (List<Post>)ViewData["Posts"];
    ViewBag.Title = "Натяжные потолки Мурманск - «Облако»";
	ViewBag.MetaKeywords = "натяжные потолки, натяжные потолки Мурманск, натяжные потолки облако, натяжные потолки небо, натяжной потолок небо с облаками, натяжной потолок звездное небо, потолки натяжные фотопечать облака, натяжные потолки облака фото, натяжной потолок облака цена";
    ViewBag.MetaDescription = "Наша компания предлагает натяжные потолки для офисных и жилых помещений из пленки ведущих мировых производителей!";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<article class="article clearfix">
    @if (Post != null)
    {
    @Html.Raw(Post.Content)
    }
    else {
    <h1 class="a_title">Натяжные потолки - это просто!</h1>

    <div class="a_photos_wrapper clearfix">
        <div class="a_photos carousel">
            <ul class="">
                <li><a class="coolimage a_photos_link" href="/Content/img/images/1234_bus_cinema.jpg" rel="article_photos_gallery" title="Натяжные потолки"><img class="a_photos_photo" src="/Content/img/images/1234_bus_cinema.jpg" alt="Натяжные потолки"></a></li>
                <li><a class="coolimage a_photos_link" href="/Content/img/images/2_89ebaabaad15.jpg" rel="article_photos_gallery" title="Натяжные потолки"><img class="a_photos_photo" src="/Content/img/images/1_89ebaabaad15.jpg" alt="Натяжные потолки"></a></li>
                <li><a class="coolimage a_photos_link" href="/Content/img/images/2_e883ed78ef1a.jpg" rel="article_photos_gallery" title="Натяжные потолки"><img class="a_photos_photo" src="/Content/img/images/1_e883ed78ef1a.jpg" alt="Натяжные потолки"></a></li>
                <li><a class="coolimage a_photos_link" href="/Content/img/images/2_5f3d9e95c516.jpg" rel="article_photos_gallery" title="Натяжные потолки"><img class="a_photos_photo" src="/Content/img/images/1_5f3d9e95c516.jpg" alt="Натяжные потолки"></a></li>
                <li><a class="coolimage a_photos_link" href="/Content/img/images/2_e180a2f92e16.jpg" rel="article_photos_gallery" title="Натяжные потолки"><img class="a_photos_photo" src="/Content/img/images/1_e180a2f92e16.jpg" alt="Натяжные потолки"></a></li>
                <li><a class="coolimage a_photos_link" href="/Content/img/images/2_20f773a0796a.jpg" rel="article_photos_gallery" title="Натяжные потолки"><img class="a_photos_photo" src="/Content/img/images/1_20f773a0796a.jpg" alt="Натяжные потолки"></a></li>
                <li><a class="coolimage a_photos_link" href="/Content/img/images/2_a675c039f002.jpg" rel="article_photos_gallery" title="Натяжные потолки"><img class="a_photos_photo" src="/Content/img/images/1_a675c039f002.jpg" alt="Натяжные потолки"></a></li>
                <li><a class="coolimage a_photos_link" href="/Content/img/images/2_31714c60ad07.jpg" rel="article_photos_gallery" title="Натяжные потолки"><img class="a_photos_photo" src="/Content/img/images/1_31714c60ad07.jpg" alt="Натяжные потолки"></a></li>
                <li><a class="coolimage a_photos_link" href="/Content/img/images/2_25625155fde1.jpg" rel="article_photos_gallery" title="Натяжные потолки"><img class="a_photos_photo" src="/Content/img/images/1_25625155fde1.jpg" alt="Натяжные потолки"></a></li>
                <li><a class="coolimage a_photos_link" href="/Content/img/images/perf.jpg" rel="article_photos_gallery" title="Натяжные потолки"><img class="a_photos_photo" src="/Content/img/images/perf.jpg" alt="Натяжные потолки" style="width:149px; height:103px;"></a></li>
            </ul>
        </div>
        <div class="a_photos_buttons">
            <button id="a_photos_next" class="a_photos_next">></button>
            <button id="a_photos_prev" class="a_photos_prev"><</button>
        </div>
    </div>


    <div class="a_body clearfix">
        <p><a href="/ColorRequest/"><img src="/Content/img/all/0_modulkopiya.jpg" width="600" /></a></p>
        <p><br />КОМПАНИЯ &laquo;ЕВРО-СТРОЙ&raquo; ПРЕДЛАГАЕТ ВАШЕМУ ВНИМАНИЮ НАТЯЖНЫЕ ПОТОЛКИ ИЗ ПЛЕНКИ ПВХ ПРОИЗВОДСТВА ФРАНЦИЯ, ГЕРМАНИЯ, РОССИЯ.</p>
        <p>Наша компания успешно работает на рынке натяжных потолков с 1995 года. Многолетний опыт работы в сфере натяжных потолков, квалифицированные специалисты,желание развиваться и совершенствоваться позволили нам наладить собственное производство, что способствовало уменьшению стоимости, сокращению сроков изготовления, доставки и монтажа потолков как внутри компании, так и для дилеров.&nbsp;<a href="/List/Discounts">Поэтому мы регулярно проводим акции и дарим нашим клиентам скидки и бонусы.</a></p>
        <p>Натяжные потолки получают все большее распространение благодаря своим функциональным качествам:</p>
        <ul>
            <li>быстрота установки, (может устанавливаться в любых помещениях всего за несколько часов);</li>
            <li>отсутствие строительного мусора (шпатлевка, штукатурка, побелка и т.д.);</li>
            <li>не пропускают воду при протечке с верхнего этажа, собирая ее в полотне потолка, оставляя практически неповрежденными обои, паркет, ламинат, ковровые покрытия;</li>
            <li>возможность изменения интерьера помещения в течение одного рабочего дня;</li>
            <li>на материале потолка не образуется конденсат;</li>
            <li>просты в уходе (протираются влажной мягкой тканью).</li>
        </ul>
        <p>Применение различных способов освещения (расположение светильников, виды светильников: люстры,бра,точечные светильники, торшеры т.д.), фотопечать (нанесение практически любого рисунка на полотно потолка), комбинирование различных материалов (гипсокартоновая конструкция и натяжной потолок) - все это сделает Ваше помещение неповторимым и особенным. А дизайнерские проекты наших специалистов помогут Вам в этом.</p>
        <p>
            <object width="320" height="240" data="/Content/tiny_mce/plugins/media/moxieplayer.swf" type="application/x-shockwave-flash">
                <param name="src" value="/Content/tiny_mce/plugins/media/moxieplayer.swf" />
                <param name="flashvars" value="url=/content/img/all/2_montazh.flv&amp;poster=/admin/" />
                <param name="allowfullscreen" value="true" />
                <param name="allowscriptaccess" value="true" />
            </object>
        </p>
    </div>
    }
</article>

<div class="last_news_title">Новости компании</div>
<div>
    @for (var i = 0; i < Math.Min(3, Posts.Count); i++) { 
    <div class="last_news clearfix">
        <div class="last_news_title">
            <a href="/List/News/@Posts[i].Id">
                <span class="last_news_date">@Posts[i].Date.ToString("dd.MM.yyyy")</span>
                @Posts[i].Title
            </a>
        </div>
        <div>
            @Html.Raw(Posts[i].Description)
        </div>
        <div class="clear"></div>
        <a href="List/News/@Posts[i].Id" class="last_news_more" style="margin-top: 20px;">подробнее...</a>
        <div class="clear"></div>
    </div>
    }
</div>
