html {
  background: url('/Content/img/template/background.jpg') #000 center top;
  background: /*url('/Content/img/template/background_star_1.png'),
              url('/Content/img/template/background_star_2.png'),
              url('/Content/img/template/background_star_3.png'),
              url('/Content/img/template/background_star_4.png'),*/
              url('/Content/img/template/background_texture.png'),
               #000
              ;
}
body {
  color: #151515;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
}
a {text-decoration:underline;}
a:hover {text-decoration:none;}
img {vertical-align: top;}
h1 {font-size: 20px;}
h2 {font-size: 18px;}
h3 {font-size: 16px;}
h4 {font-size: 14px;}
h5 {font-size: 13px;}
h6 {font-size: 12px;}

.contacts{
font-size: 20px;
font-weight: 700;
margin-bottom: 15px;
}

.site_width {
  margin: 0 auto;
  width: 990px;
}

/* Шапка сайта */
.header {
  height: 145px;
/*  line-height: 145px;*/
}
.header a{
  text-decoration: none;
}
.header_logo img {
  margin-right: 25px;
  vertical-align: top;
	height: 100px;
	margin-top: 20px;
	margin-left:-80px;
}
.header_compname,
.header_phone {
  /*color: #FFED00;*/
  color: white;
  font-family: Arial, sans-serif;
  //text-shadow: 2px 0 #000,
               2px 2px #000,
               0 2px #000,
               -2px 2px #000,
               -2px 0 #000,
               -2px -2px #000,
               0 -2px #000,
               2px -2px #000;
  letter-spacing: 2px;
}
.header_phone {
	display: inline-block;
	margin-right:-80px;
	padding-top:-20px;
}
.header_compname {
  font-size: 32px;
  font-weight: bold;
  margin-right: 25px;
  text-transform: uppercase;
}
.header_phone {
  font-size: 25px
}
/* /Шапка сайта */

/* Верхнее меню */
.main_menu {
  border-bottom: 1px solid #555;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  display: table;
  font-size: 14px;
  line-height: 40px;
  //margin-bottom: 10px;
  table-layout: fixed;
  text-align: justify;
  text-transform: uppercase;
  width: 100%;
}
.main_menu > div {
  display: table-cell;
  position: relative;
}
.main_menu a {
  background: #00a6ff;
  background: -webkit-linear-gradient(#00a6ff, #3157a6);
  background: linear-gradient(#00a6ff, #3157a6);
  /*-pie-background: linear-gradient(#31A657, #017427);*/
  behavior: url(/natpotolki.ru/js/PIE.htc);
  border-left: 1px solid #3157a6;
  border-right: 1px solid #00a6ff;
  color: #FFF;
  display: block;
  position: relative;
  text-align: center;

  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main_menu a.selected,
.main_menu a:hover {
  background: #FFF45F;
  background: -webkit-linear-gradient(#FFF45F, #BAA201);
  background: linear-gradient(#FFF45F, #BAA201);
  border-left: 1px solid #CAB220;
  border-right: 1px solid #CAB220;
  /*-pie-background: linear-gradient(#FFF45F, #BAA201);*/
  color: #111;
}
/*
.main_menu a:first-of-type {
  border-left: none;
}
.main_menu a:last-of-type {
  border-right: none;
}*/
.main_menu > div:hover > .main_menu_submenu {
  opacity: 1;
  visibility: visible;
}
.main_menu_submenu {
  list-style: none outside none;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  text-align: left;
  visibility: hidden;
  z-index: 11;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main_menu_submenu a {
  padding: 0 25px;
  white-space: nowrap;
}
.content_submenu_submenu {
    font-size: 88%;
}
.content_submenu_submenu:before {
    content: "– ";
}

.main_menu_submenu_submenu {
  border-left: 1px solid #017427;
  list-style: none outside none;
  margin: -40px 0 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: -241px;
  visibility: hidden;
  width: 240px;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main_menu_submenu li:hover > .main_menu_submenu_submenu {
  opacity: 1;
  visibility: visible;
}
.main_menu_submenu_submenu a {
  white-space: normal;
}
/* /Верхнее меню */

/* Блок контента */
.main_block_wrapper {
  background: url('/Content/template/background_photo.jpg') center top no-repeat #111111; /* 8< IE */
  background: url('/Content/img/template/background_photo.jpg') center top no-repeat fixed,
              url('/Content/img/template/background_texture.png');
}
.main_block {
  padding-bottom: 10px;
}
.content {
  background: #FFF;
  background: rgba(255,255,255,0.85);
  min-height: 695px;
  overflow: hidden;
  padding: 25px 20px;
}
.article {
  border-top: 1px solid #E3E1E0;
  border-bottom: 1px solid #E3E1E0;
  overflow: hidden;
  padding: 15px 0;
}
.article:before {
  border-top: 1px solid #FFF;
  content: '';
  position: relative;
  top: -15px;
  width: 100%;
}
.article:after {
  border-top: 1px solid #FFF;
  content: '';
  position: relative;
  bottom: -15px;
  width: 100%;
}
.article a {
  color: #3157a6;
}
/* /Блок контента */

/* Блок подменю в блоке контента */
.content_left {
  float: left;
  margin-right: 20px;
  position: relative;  
  width: 185px;
  z-index: 10;
}
.content_submenu {
  color: #FFF;
  //background: url('/Content/img/template/background_texture.png') #000;
  background-color:#3157a6;
  font-size: 14px;
  position: relative;
  text-transform: uppercase;
  width: 185px;
  z-index: 10;
}
.content_submenu a, .content_submenu span {
  border-bottom: 1px dashed #434343;
  border-bottom: 1px dashed rgba(255,255,255,0.3);
  border-top: 1px dashed #111111;
  display: block;
  /* height: 37px; */
  color: inherit;
  line-height: 37px;
  padding: 0 5px 0 20px;

  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.content_submenu a.selected,
.content_submenu a:hover {
  background: #00a6ff;
  //background: rgba(30,220,69,0.6);
}
.content_submenu a:first-of-type {
  border-top: none;
}
.content_submenu a:last-of-type {
  border-bottom: none;
}
/* /Блок подменю в блоке контента */



/* Оформление статей */
.al_title_link {
  color: inherit;
}
  /* Оформление списка фотографий */
.a_photos_wrapper {
  margin-right: 43px;
  padding: 10px 0;
  position: relative;
}
/*.a_photos {
  overflow: hidden;
}*/
.a_photos ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.a_photos.carousel ul {
  width: 9999px;
}
.a_photos.carousel .a_photos_photo {
  margin: 0 1px;
}
.a_photos li {
  float: left;
}
.a_photos_photo {
  margin: 10px;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.a_photos_photo:hover {
  box-shadow: 0 0 1px #1E9345;
}
.a_photos_buttons {
  position: absolute;
  top: 10px;
  right: -43px;
  width: 40px;
}
.a_photos_prev,
.a_photos_next {
  color: #FFF;
  background: #9A958F;
  display: block;
  font-weight: bold;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  opacity: 0.5;
  width: 100%;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.a_photos_prev:hover,
.a_photos_next:hover {
  background: .a_photos_prev;
  opacity: 1;
}
.a_photos_next {
  margin-bottom: 3px;
}
  /* /Оформление списка фотографий */

  /* Оформление списка страниц*/
.pages {
  font-size: 105%;
  text-align: center;
  padding: 20px 0;
}
.pages a,
.pages .curpage {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 40px;
}
.pages a {
  color: #151515;
  text-decoration: none;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.pages a:hover {
  background: #1E9345;
  background: rgba(30,160,49,0.6);
  color: #FFF;
}
.pages .curpage {
  color: #A2ABC0;
}

#pages a,
#pages b {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 40px;
}
  /* /Оформление списка страниц*/

.a_preimage,
.p_preimage {
  float: left;
  margin: 0 15px 15px 0;
}
.a_title,
.a_body p:first-of-type,
.p_body p:first-of-type {
  margin-top: 0;
}
.a_title {
  text-transform: uppercase;
}

.more {
  color: #1E9345;
  display: inline-block;
  float: right;
  padding: 20px;
}


.a_files {
  list-style: none;
  margin: 0;
  padding: 0;
}
.a_files_file {
  border-top: 1px dashed #D6D6D6;
  color: #1B1B1B;
  display: block;
  padding: 10px;
  text-align: left;
  text-decoration: none;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.a_files_file:first-of-type {
  border-top: none;
}
.a_files_file:hover {
  background: #1E9345;
  background: rgba(30,160,49,0.6);
  color: #FFF;
}
.a_files_file:hover .a_files_file_size {
  color: #FFF;
}
.a_files_file_icon {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.a_files_title {
  display: block;
  font-size: 14px;
}
.a_files_file_size {
  color: #999999;
  font-size: 11px;
}
/* /Оформление статей */

/* Оформление новостей */
.last_news {
  display: inline-block;
  vertical-align: top;
  width: 31%;
}
.last_news:nth-of-type(2) {
  padding: 0 19px;
}
.n_title,
.last_news_title {
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.last_news_title a {
  color: inherit;
  text-decoration: none;
}
.n_title a {
  color: inherit;
}
.last_news_date {
  display: block;
  font-size: 14px;
}
.last_news_prebody {
  font-size: 13px;
  margin-bottom: 15px;
}
.last_news_more {
  background: #9A958F;
  color: #FFF;
  display: block;
  font-size: 14px;
  line-height: 37px;
  text-align: center;
  text-decoration: none;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.last_news_more:hover {
  background-color: #3157a6;
}
.n_list {
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #E3E1E0;
  padding: 10px 0;
}
.n_list:first-of-type {
  border-top: none;
}
.n_list:last-of-type {
  border-bottom: none;
}
.n_date {
  font-size: 14px;
}
  .last_news .last_news_img,
  .n_body .img,
  .n_list .img {
    float: left;
    margin-right: 15px;
  }
/* /Оформление новостей */


/* footer */
.footer {
  color: #FFF;
  font-size: 14px;
  padding: 40px 0;
}
.footer a {
  color: inherit;
}
.footer_inform {
  display: inline-block;
  text-align: center;
  width: 33%;
}
.footer_inform img {
  margin-right: 20px;
  vertical-align: middle;
}
.footer_creator {
  display: block;
  font-size: 12px;
  text-align: center;
  margin-top: 40px;
}
/* /.footer */

.clear { clear:both; }
.align_left { margin: 3px 15px 5px 0; float: left; }
.align_right { margin: 3px 0 5px 15px; float: right; }
.align_center { margin-left: auto; margin-right: auto; }
button {margin:0;padding:0;overflow:visible;border:0;background:none;cursor:pointer;}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}

.social-icons-wrap {
  position: relative;
}
  #vk_subscribe {
    margin-left: 32px;
  }
  .social-vk-icon {
    left: 0;
    position: absolute;
    top: 0;
  }

  /* wpcf7 */
.wpcf7 {float: right; width: 40%; margin: -10px 0 0 0 !important;}
.OnlyText .wpcf7 p {padding: 0;}
.wpcf7 input[type="button"] {
    border: 0; 
    color: #fff; 
    display: inline-block; 
    font-size: 20px; 
    text-decoration: none; 
    text-decoration: none; 
    text-transform: uppercase; 
    background: #00a6ff;
    background: -webkit-linear-gradient(#00a6ff, #3157a6);
    background: linear-gradient(#00a6ff, #3157a6);
    margin: 0; 
    padding: 10px 50px; 
    cursor: pointer; 
    font-family: ictec, Arial, Helvetica, sans-serif;}
.wpcf7 input[type="button"]:hover {  
    background: #FFF45F;
    background: -webkit-linear-gradient(#FFF45F, #BAA201);
    background: linear-gradient(#FFF45F, #BAA201);
    color: #111;
}
.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 input[type="tel"] {width: 100%; padding: 8px; border: 1px solid #bbb; display: block; margin: 0 0 15px 0; background: #fff; font-size: 12px; box-sizing: border-box;}
.wpcf7 textarea {width: 100%; border: 0; resize: none; padding: 8px; border: 1px solid #bbb; display: block; margin: 0 0 15px 0; background: #fff; font-size: 12px; box-sizing: border-box;}
.wpcf7-not-valid-tip {font-size: 11px !important;}
/* wpcf7 */

.error {border: 1px solid #eb4848 !important; box-shadow: 0 0 10px #f00;}

.alignleft {float:left; margin-right: 10px;}
.alignright {float:right; margin-left: 10px;}



.akcia3 {
    position: relative;
    margin-left: 14px;
}

.akcia3 .title {
    position:relative;
    z-index:10;
    color:#707070;
    display:block;
    //padding:0 0 0 42px;
    font:bold 12px/17px 'PT Sans', sans-serif;
    text-transform:uppercase;
    text-decoration:none;
}

.akcia3 .title img {
    margin:-8px 5px 0 12px;
}

.akcia3 .dropdown {
    display:none;
    position:absolute;
    margin-top:-8px;
    z-index:9;
    //left:10px;
    top:-10px;
    width:180px;
    background-size:100% 100%;
    -webkit-background-size:100% 100%;
    -moz-background-size:100% 100%;
    -o-background-size:100% 100%;
    background:rgba(225,225,225,1);
    background:-webkit-gradient(linear,left top, left bottom,from(rgba(225,225,225,1)),to(rgba(255,255,255,1)));
    background:-webkit-linear-gradient(top, rgba(225,225,225,1), rgba(255,255,255,1));
    background:-moz-linear-gradient(top, rgba(225,225,225,1), rgba(255,255,255,1));
    background:-o-linear-gradient(top, rgba(225,225,225,1), rgba(255,255,255,1));
    background:linear-gradient(top, rgba(225,225,225,1), rgba(255,255,255,1));
    box-shadow:2px 2px 10px 0 rgba(0,0,0,1);
    -webkit-box-shadow:2px 2px 10px 0 rgba(0,0,0,1);
    -moz-box-shadow:2px 2px 10px 0 rgba(0,0,0,1);
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    padding-top:30px;
}

.akcia3 .dropdown .dropdown_content {
    padding:15px 10px 12px 10px;
    font-size:12px;
    color:#6c6c6c;
}

.akcia3 .dropdown .dropdown_content b {color:#7f9510;}
