@using MvcApplication4_natpot.Models
@{
    Post Post = (Post)ViewData["Post"];
    ViewBag.Title = "Производство жалюзи, информация для дилеров - «Облако»";
    ViewBag.MetaKeywords = "жалюзи дилерам, жалюзи дилером";
    ViewBag.MetaDescription = "Приглашаем к сотрудничеству строительные фирмы, организации, дизайн-студии и все заинтересованные компании, желающие эффективно использовать строительный бюджет";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<div class="article clearfix">
@if (Post != null)
    {
    @Html.Raw(Post.Content)
    }
    else {
    <h1 class="a_title">Дилерам</h1>

    <div class="clearfix">
        <p>Наши каталоги тканей для жалюзи и рулонных штор содержат более 500 образцов, что позволит учесть самые разные  пожелания  ваших заказчиков.</p>
        <p>Ассортимент комплектующих постоянно пополняется и обновляется, делая солнцезащитные системы все более удобными в использовании.</p>
        <p>
            Одновременно с индивидуальными заказами  мы предлагаем на реализацию готовые вертикальные жалюзи с фотопечатью, размером 160х160 см.<br/>
            Это – размер стандартного окна, однако он может быть изменен, в соответствии с вашими пожеланиями.
        </p>
        <p><a href="/Content/img/all/1_evro_stroy.jpg" class="coolimage" rel="article_gallery"><img src="/Content/img/all/1_resized_evro_stroy.jpg" alt="рп" /></a></p>
    </div>

}
</div>
