@using MvcApplication4_natpot.Models
@{
    Post Post = (Post)ViewData["Post"];
    ViewBag.Title = "Производство натяжных потолков, информация для дилеров - «Облако»";
    ViewBag.MetaKeywords = "потолки дилерам, натяжные потолки дилером";
    ViewBag.MetaDescription = "Приглашаем к сотрудничеству строительные фирмы, организации, дизайн-студии и все заинтересованные компании, желающие эффективно использовать строительный бюджет";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<div class="article clearfix">
@if (Post != null)
    {
    @Html.Raw(Post.Content)
    }
    else {
    <h1 class="a_title">Дилерам</h1>

    <div class="clearfix">
        <p>Приглашаем к сотрудничеству строительные фирмы, организации, дизайн-студии и все заинтересованные компании, желающие эффективно использовать строительный бюджет или иметь дополнительный доход от продажи сопутствующих товаров.</p>
        <p>Мы предлагаем постоянно пополняемый ассортимент комплектующих и инструментов, дилерские цены, удобную парковку на территории завода.</p>
        <p>Работаем с дилерами по направлениям: <a href="/ForDealers_Ceilings">НАТЯЖНЫЕ ПОТОЛКИ</a>, <a href="/ForDealers_Blinds">ЖАЛЮЗИ</a>, РОЛЛЕТЫ</p>
        <p style="text-align:center;">
            <a href="/ForDealers_Ceilings">
                <img src="/Content/img/template/fordealers1.jpg" style="width: 33%;" alt="" />
            </a>
            <a href="/ForDealers_Blinds">
                <img src="/Content/img/template/fordealers3.jpg" style="width: 33%;" alt="" />
            </a>
            <img src="/Content/img/template/fordealers2.jpg" style="width: 33%;" alt="" />
        </p>
        <p>
            Наш адрес: <br />
            г.Мурманск, ул. Героев Рыбачьего, строение 16
        </p>
        <p>
            Время работы: <br />
            Пн-Сб с 10-00 до 18-00 <br />
            выходной – воскресенье
        </p>
        <p>
            Телефон: 8921-708-20-25
        </p>
        <p>
            E-mail: <a href="mailto:Oblako-51@yandex.ru">Oblako-51@yandex.ru</a>
        </p>

        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=0nvDlixzVWmhHYBRxgDAUH4doUgSeUR9&amp;width=100%&amp;height=460&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>

    </div>

}
</div>
