@{
    ViewBag.Title = "Натяжные потолки, фото - «Облако»";
	ViewBag.MetaKeywords = "натяжные потолки фото, натяжные потолки фотографии, натяжные потолки облако фото, натяжные потолки небо с облаками фото";
    ViewBag.MetaDescription = "Фотографии натяжных потолков для жилых и общественных помещений";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<article class="article clearfix">
   
     <h1 class="a_title">Фотографии натяжных потолков</h1>

    <div class="a_body clearfix">
        <p style="text-align: justify;">В этом разделе Вы можете увидеть фотографии наших работ, и видеоролики, связанные с работой компании.</p>
        <p style="text-align: justify;">Наше портфолио, накопленное за многолетний опыт работы, включает в себя объекты разной сложности. Также вы можете увидеть еще больше фотографий в наших офисах, ведь все это сделано и разработано нашими специалистами.&nbsp;</p>
        <p style="text-align: justify;">Ваш интерьер индивидуален, и разрабатывается, исходя из Ваших вкусов, пожеланий, предпочтений, именно для Вашего помещения. Мы постараемся найти для Вас то решение, которое будет создавать гармоничную атмосферу в вашем доме.&nbsp;</p>
        <p style="text-align: justify;"></p>
        <table border="0" cellspacing="10" align="center">
            <tbody>
                <tr>
                    <td><a href="/List/Gallery/37" class="coolimage" rel="article"><img src="/Content/img/all/0_2_6b6a41cba2bd_copy.jpg" width="220" style="margin: 5px; border: 1px solid black;" /></a></td>
                    <td style="text-align: center;"><a href="/List/Gallery/41" class="coolimage" rel="article"><img src="/Content/img/all/0_2_c263aac2466d_copy.jpg" width="220" style="margin: 5px; border: 1px solid black;" /></a></td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <h3><a href="/List/Gallery/37">Жилые помещения</a></h3>
                    </td>
                    <td style="text-align: center;">
                        <h3><a href="/List/Gallery/41">Общественные</a></h3>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;"><a href="/List/Gallery/43" class="coolimage" rel="article"><img src="/Content/img/all/0_2_2d307160efbb_copy.jpg" width="220" style="margin: 5px; border: 1px solid black;" /></a></td>
                    <td style="text-align: center;"><a href="/List/Gallery/183" class="coolimage" rel="article"><img src="/Content/img/all/Video_gallery_cover.png" width="220" style="margin: 5px; border: 1px solid black;" /></a></td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <h3><a href="/List/Gallery/43">О компании</a></h3>
                    </td>
                    <td style="text-align: center;">
                        <h3><a href="/List/Gallery/183">Видео</a></h3>
                    </td>
                </tr>
            </tbody>
        </table>
        <p style="text-align: justify;"></p>
        <p style="text-align: justify;">Если Вам понравились наши работы, позвоните - Вас приятно удивит наш подход!<br /><br /></p>
        <p><a href="#" class="measurementAsk"><img src="/Content/img/all/0_otrisovannaya_knopka2.png" style="display: block; margin-left: auto; margin-right: auto;" /></a></p>
        <p style="text-align: center;"></p>
    </div>

</article>

