@{
    ViewBag.Title = "Этапы монтажа натяжных потолков - «Облако»";
	ViewBag.MetaKeywords = "монтаж натяжных потолков, натяжной потолок технология монтажа, этапы монтажа потолков";
    ViewBag.MetaDescription = "Подробное описание этапов монтажа натяжного потолка от компании «ЕВРО-СТРОЙ»";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<article class="article clearfix">
    
    <h1 class="a_title">Этапы монтажа натяжных потолков</h1>

    <div class="a_body clearfix">
        <p><img alt="Монтаж натяжных потолков" src="/Content/img/all/0_yarkie_strelochki.jpg" width="730" style="margin: 5px auto; vertical-align: middle; display: block;" /></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p><a href="#" class="measurementAsk"><img src="/Content/img/all/0_otrisovannaya_knopka2.png" style="vertical-align: middle; margin: 5px auto; display: block;" /></a></p>
    </div>

</article>
