@{
    ViewBag.Title = "Маскировочная лента для натяжного потолка - «Облако»";
	ViewBag.MetaKeywords = "маскировочная лента, натяжной потолок лента маскировочная";
    ViewBag.MetaDescription = "В нашем салоне представлен самый большой в городе выбор цветной глянцевой ленты, мы обязательно подберем наиболее подходящий для вас вариант!";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<article class="article clearfix">
    <h1 class="a_title">Маскировочная лента для натяжного потолка</h1>

    <div class="a_body clearfix">
        <p style="text-align: justify;">Во время установки между стеной и натяжным потолком остается технический зазор &ndash; ширина багета, используемого для монтажа. Для декорирования стыка можно применять потолочные плинтуса, галтели, в этом случае они крепятся к стенам. Но самый простой и быстрый способ скрыть зазор &ndash; установить маскировочную ленту по периметру. Обычно ленту подбираем под цвет полотна, или обоев, но также вы можете внести уникальность в ваш интерьер, выбрав ленту контрастного цвета, подчеркнуть, таким образом, предметы декора, мебель. В нашем салоне представлен самый большой в городе выбор цветной глянцевой ленты, мы обязательно подберем наиболее подходящий для вас вариант!<br /><br />Данная услуга является дополнительной, вы можете не устанавливать ленту вообще, либо установить ее самостоятельно. Во время заключения договора, либо во время предварительной консультации, наши менеджеры покажут вам образцы ленты, процесс ее установки, рассчитают стоимость данной услуги.</p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
    </div>

    <div class="a_photos_wrapper clearfix">
        <div class="a_photos">
            <ul class="">
                <li><a class="coolimage a_photos_link" href="/Content/img/images/2_8fc7fc17c67d.jpg" rel="article_photos_gallery" title="В наличии более 40 цветов ленты "><img class="a_photos_photo" src="/Content/img/images/1_8fc7fc17c67d.jpg" alt="В наличии более 40 цветов ленты "></a></li>
                <li><a class="coolimage a_photos_link" href="/Content/img/images/2_405137d19ca8.jpg" rel="article_photos_gallery" title="Самый большой ассортимент в Мурманске"><img class="a_photos_photo" src="/Content/img/images/1_405137d19ca8.jpg" alt="Самый большой ассортимент в Мурманске"></a></li>
                <li><a class="coolimage a_photos_link" href="/Content/img/images/2_983b3ab026ae.jpg" rel="article_photos_gallery" title="Поможем подобрать образец под любой интерьер"><img class="a_photos_photo" src="/Content/img/images/1_983b3ab026ae.jpg" alt="Поможем подобрать образец под любой интерьер"></a></li>
            </ul>
        </div>
    </div>

</article>
