@using MvcApplication4_natpot.Models
@{
    Post Post = (Post)ViewData["Post"];
    ViewBag.Title = "Жалюзи на окна, рулонные шторы - «Облако»";
	ViewBag.MetaKeywords = "жалюзи Мурманск, жалюзи на окна, жалюзи фото";
    ViewBag.MetaDescription = "Изготовление и установка жалюзи и рулонных штор в Мурманске, скидки постоянным клиентам!";
    ViewBag.MetaTitle = Post.Meta_Title;
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<article class="article clearfix">
    @if (Post != null)
    {
        @Html.Raw(Post.Content)
    }
    else {
    <h1 class="a_title">@ViewBag.Title</h1>

    <div class="a_body clearfix">
        <p style="text-align: center;"><em><strong>Раздел находится в стадии наполнения</strong></em></p>
        <p style="text-align: center;"></p>
        <table border="1" style="width: 686px; height: 485px; border: 1px solid #000000;">
            <tbody>
                <tr>
                    <td style="text-align: center;"><strong>Тип изделия&nbsp;</strong></td>
                    <td style="text-align: center;"><strong>Стоимость кв.м.</strong></td>
                    <td style="text-align: center;"><strong>Изображение</strong></td>
                </tr>
                <tr align="center" valign="middle">
                    <td>
                        <h2>Жалюзи вертикальные</h2>
                    </td>
                    <td>
                        <h2>&nbsp;от 450 руб.&nbsp;</h2>
                    </td>
                    <td style="text-align: left;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="/Content/img/all/1_doc_1791.jpg" class="coolimage" rel="article_gallery"><img src="/Content/img/all/1_resized_doc_1791.jpg" alt="вертикальные жалюзи" width="300" style="display: block; margin: 5px auto;" /></a>&nbsp;&nbsp;</td>
                </tr>
                <tr align="center" valign="middle">
                    <td>
                        <h2>Рулонные шторы</h2>
                    </td>
                    <td>
                        <h2>&nbsp;от 1500 руб.</h2>
                    </td>
                    <td><img src="/Content/img/all/1_kd7eip6qnvdlcgeke1pf0vlrc40lhm.jpeg" alt="рулонные жалюзи" width="300" height="225" style="margin-top: 5px; margin-bottom: 5px;" /></td>
                </tr>
                <tr align="center" valign="middle">
                    <td>
                        <h2>Жалюзи "ЗЕБРА"<br/> премиум-класс</h2>
                    </td>
                    <td>
                        <h2>&nbsp;от 3180 руб.</h2>
                    </td>
                    <td><img src="/Content/img/all/1_11.jpg" alt="жалюзи Зебра" width="300" height="225" style="margin-top: 5px; margin-bottom: 5px;" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    }

</article>

