@using MvcApplication3.Models
@{
    ViewBag.Title = "Index";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/SiteLayout.cshtml";
}

<div class="content_body">
    <div class="OnlyText">
        <h2 style="padding-top:20px;">ЖАЛЮЗИ ЗАВОДА ОБЛАКО</h2>
        <p style="text-align:justify;">
            Жалюзи давно стали неотъемлемой частью декора окон. Они легко и быстро регулируют световой поток, создавая комфортные условия в помещении, великолепно дополняют <a href="http://www.galadekor.ru/" target="_blank">шторы и портьеры</a>, создавая законченный облик вашего окна.
        </p>
        <h4>Жалюзи от завода Облако:</h4>
        <p style="text-align:justify;">
           <ul>
               <li>плиссе, рулонные, вертикальные, горизонтальные, деревянные;
               <li>из современных тканей с уникальными свойствами;
               <li>могут подвергаться многократным стиркам;
               <li>устойчивы к внешним воздействиям;
               <li>от стандартных до премиум-класса.
            </ul>
        </p>
        <p style="text-align:justify;">
            Нажмите кнопку "Записаться на замер", заполните форму и мы перезвоним вам, чтобы подобрать дату и время замера окон для установки жалюзи.
        </p>
    </div>
</div>
<div class="clearfix"></div>

<div class="banner2" style="background-image: url(/content/themes/ictec/images/bg/zhalyuzi3.jpg); "></div>

<div class="content_body">
    <div class="OnlyText">
        <h4 style="padding-top:20px; text-align:center;">Подробная информация о жалюзи  завода Облако - на нашем сайте <a href="http://demyr.ru/" target="_blank">demyr.ru</a> </h4>
        <p style="text-align:center;">
            Ниже представлена небольшая часть коллекции для украшения вашего окна.
        </p>
        <div class="slider multiple-items multiple-items-vert" align="center" style="width: 90%; left: 50%; margin-left: -45%;">
            @{
                string CurrentGalleryURL = "/Content/themes/ictec/images/gallery/fordealers_blinds";
                var path = Server.MapPath(CurrentGalleryURL);
                var picSearchPattern = new System.Text.RegularExpressions.Regex(@"$(?<=\.(jpg|png|jpeg|gif))", System.Text.RegularExpressions.RegexOptions.IgnoreCase);
                var picnames = Directory.GetFiles(path).Where(f => picSearchPattern.IsMatch(f)).OrderBy(f => f).ToList();
                if (picnames.Count() > 0)
                {
                    for (var i = 0; i < picnames.Count(); i++)
                    {
                        <div><img src="@(CurrentGalleryURL + "/" + @Path.GetFileName(picnames[i]))" alt="" /></div>
                    }
                }
            }
        </div>
    </div>
</div>
<div class="clearfix"></div>

<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=5ZPSIHkH223NHzsLY7KUIr4yedi7drrI&height=350"></script>