@using MvcApplication3.Models
@{
    ViewBag.Title = "Index";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/SiteLayout.cshtml";
}

<div class="content_body">
    <div class="OnlyText">
        <h2 style="padding-top:20px;">Натяжные потолки</h2>
        <p style="text-align:justify;">
            Современные технологии и комплектующие открывают практически неограниченные возможности для создания уникальных натяжных потолков за минимальную цену.
        </p>
        <p style="text-align:justify;">
            Ваш потолок может быть спаян из нескольких полотен различного цвета и фактуры, быть глянцевым или матовым, парящим или перфорированным, именно таким, каким хотите его видеть Вы.
        </p>

        <h4>Преимущества натяжных потолков "Облако":</h4>

        <table border="0" width="100%" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td width="50%">
                        <ul>
                            <li><strong>Быстрая установка</strong> и отсутствие строительного мусора,</li>
                            <li>Срочное изготовление в течение 1 часа,</li>
                            <li>Удержание воды при залитии с верхних этажей,</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Идеально <strong>ровная поверхность</strong> натяжного потолка,</li>
                            <li>Монтаж квалифицированными специалистами,</li>
                            <li>Гарантийное и постгарантийное обслуживание.</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<a href="/Blog/Item/1941" style="text-decoration:none !important;">
    <div class="banner" style="color: #3d5861; padding-left: 150px; background-image: url(/content/themes/ictec/images/bg/ceilings3_new.jpg); height:250px; ">
        <div class="content_body">
            <h1 style="display: inline-block; margin-top: 0;">
                Потолки стрейч!
            </h1>
            <style>
                .redstar {
                    -webkit-transform: rotate(-35deg);
                    -moz-transform: rotate(-35deg);
                    -o-transform: rotate(-35deg);
                    -ms-transform: rotate(-35deg);
                    transform: rotate(-35deg);
                    color: red;
                    display: inline-block;
                    margin-right: 10px;
                    font-size: 35px;
                }
            </style>
            <ul style=" text-align: left; display: inline-block; " class="hidden-xs hidden-sm visible-md visible-lg">
                <li style="font-size:24px;"><div class="redstar">&#9733;</div>Уникальное предложение 2018 года
                <li>Инновационный продукт, который запущен 13.03.2018 в производство завода "ОБЛАКО".
                <li>Установка при комнатной температуре 20-25 гр. без предварительного нагрева и без использования тепловой пушки
                <li><span style="font-size: 24px;">Узнайте больше...</span></li>
            </ul>
            <ul style=" text-align: left; display: inline-block; " class="visible-xs visible-sm hidden-md hidden-lg">
                <li><strong>Уникальное предложение 2018 года</strong>
                <li>Инновационный продукт, который запущен 13.03.2018 в производство завода "ОБЛАКО".
                <li><span style="font-size: 24px;">Узнайте больше...</span></li>
            </ul>
        </div>
    </div>
</a>

<div class="content_body">
    <div class="OnlyText">
        <h2 style="padding-top:20px;">Виды натяжных потолков</h2>
        
        <h4 style="color: #d6404b;">Белые натяжные потолки</h4>
        <p>
            Белые потолки считаются классическими. Матовые и сатиновые полотна, в отличии от глянцевых, создают мягкое отражение света, приближая потолок к традиционному. При этом сатиновая поверхность с оригинальной фактурой добавляет интерьеру особый шарм.
        </p>
        <div class="slider multiple-items multiple-items-hor" align="center" style="width: 90%; left: 50%; margin-left: -45%;">
            <div><img src="/Content/themes/ictec/images/gallery/white/1.jpg" alt="" /></div>
            <div><img src="/Content/themes/ictec/images/gallery/white/2.jpg" alt="" /></div>
            <div><img src="/Content/themes/ictec/images/gallery/white/3.jpg" alt="" /></div>
            <div><img src="/Content/themes/ictec/images/gallery/white/4.jpg" alt="" /></div>
        </div>

        <h4 style="color: #d6404b;">Цветные натяжные потолки</h4>
        <p>
            Голубые, как небо, зеленые, как трава или оранжевые, как спелые апельсины - потолки могут быть любыми. Более 200 цветов и оттенков, различное их сочетание, разные фактуры помогут вам создать неповторимый и уникальный проект. Выбирая потолок, выбирайте лучшее!
        </p>
        <div class="slider multiple-items multiple-items-hor" align="center" style="width: 90%; left: 50%; margin-left: -45%;">
            <div><img src="/Content/themes/ictec/images/gallery/color/4.jpg" alt="" /></div>
            <div><img src="/Content/themes/ictec/images/gallery/color/2.jpg" alt="" /></div>
            <div><img src="/Content/themes/ictec/images/gallery/color/3.jpg" alt="" /></div>
            <div><img src="/Content/themes/ictec/images/gallery/color/1.jpg" alt="" /></div>
        </div>

        <h4 style="color: #d6404b;">Парящие натяжные потолки</h4>
        <p>
            Если вы решаете задачу - лаконичность и минимализм в интерьере, возможное решение - парящие натяжные потолки. Что образует эффект парения? Особым образом закрепленная светодиодная лента, игра насыщенностью и цветом светового потока и квалифицированный монтаж.
        </p>
        <div class="slider multiple-items multiple-items-hor" align="center" style="width: 90%; left: 50%; margin-left: -45%;">
            <div><img src="/Content/themes/ictec/images/gallery/flying/1.jpg" alt="" /></div>
            <div><img src="/Content/themes/ictec/images/gallery/flying/2.jpg" alt="" /></div>
            <div><img src="/Content/themes/ictec/images/gallery/flying/3.jpg" alt="" /></div>
            <div><img src="/Content/themes/ictec/images/gallery/flying/4.jpg" alt="" /></div>
        </div>

        <h4 style="color: #d6404b;">
            Перфорированные потолки
        </h4>
        <p>
            Перфорированные потолки украшают кухни и спальни, коридоры и ванные комнаты, гостиные и офисы. Перфорация и дополнительное освещение создают необычные эффекты. Если вы наполнены яркими образами и легко принимаете смелые решения - эти потолки для Вас!
        </p>
        <div class="slider multiple-items multiple-items-hor" align="center" style="width: 90%; left: 50%; margin-left: -45%;">
            <div><img src="/Content/themes/ictec/images/gallery/perforated/1.jpg" alt="" /></div>
            <div><img src="/Content/themes/ictec/images/gallery/perforated/2.jpg" alt="" /></div>
            <div><img src="/Content/themes/ictec/images/gallery/perforated/3.jpg" alt="" /></div>
            <div><img src="/Content/themes/ictec/images/gallery/perforated/1.jpg" alt="" /></div>
            <div><img src="/Content/themes/ictec/images/gallery/perforated/2.jpg" alt="" /></div>
            <div><img src="/Content/themes/ictec/images/gallery/perforated/3.jpg" alt="" /></div>
        </div>

        <h4 style="color: #d6404b;">
            Потолки с арт-печатью
        </h4>
        <p>
            "Эксклюзивность во всем!"- девиз тех, кто выбирает арт-печать на натяжном потолке. Начинаясь над головой, рисунок может переходить на натяжные стены и в сочетании со светодиодной подсветкой создавать 3D-эффекты. Отличный подарок - цветы любимым на потолке!
        </p>
        <div class="slider multiple-items multiple-items-hor" align="center" style="width: 90%; left: 50%; margin-left: -45%;">
            <div><img src="/Content/themes/ictec/images/gallery/art/1.jpg" alt="" /></div>
            <div><img src="/Content/themes/ictec/images/gallery/art/2.jpg" alt="" /></div>
            <div><img src="/Content/themes/ictec/images/gallery/art/3.jpg" alt="" /></div>
            <div><img src="/Content/themes/ictec/images/gallery/art/4.jpg" alt="" /></div>
        </div>

        <h4 style="color: #d6404b;">
            3D-потолки
        </h4>
        <p>
            Вы любите комфорт? Обратите внимание на потолки с объемным изображением: многоуровневые, с максимальным использованием всех возможностей дополнительного освещения, они создают обстановку для полноценного отдыха.
        </p>
        <div class="slider multiple-items multiple-items-hor" align="center" style="width: 90%; left: 50%; margin-left: -45%;">
            <div><img src="/Content/themes/ictec/images/gallery/3d/2.jpg" alt="" /></div>
        </div>
    </div>
</div>

<div class="banner2" style="background-image: url(/content/themes/ictec/images/bg/ceilings.jpg); "></div>

<div class="content_body">
    <div class="OnlyText">
        <h2 style=" padding-bottom: 0; ">Фактуры и оттенки</h2>
        <h4 style="padding-top:0;">Пленки для натяжных потолков</h4>
        <iframe src='//docs.google.com/viewer?url=natpotolki.ru/Components/catalog.pdf&embedded=true' style='width: 100%; height: 1100px;' frameborder='0'>Ваш браузер не поддерживает фреймы</iframe>
    </div>
</div>
<div class="clearfix"></div>

<div class="content_body">
    <div class="OnlyText">
        <h2 style=" padding-bottom: 0; ">Попробуйте себя в роли дизайнера</h2>
        <h4 style="padding-top:0;">Подберите нужное вам цветовое решение</h4>
        <p style="text-align:center;">
            <a href="//constr.natpotolki.ru/" target="_blank"><img src="/Content/themes/ictec/images/0_modulkopiya.jpg" /></a>
        </p>
    </div>
</div>
<div class="clearfix"></div>

<div class="content_body">
    <div class="OnlyText">
        <h2 style="margin-bottom:20px; ">Цены на натяжные потолки "Под ключ"</h2>
        <div class="col-xs-12 col-sm-4" style="text-align:center;">
            <img src="/Content/themes/ictec/images/s1200.jpg" style="width:100%;">
            <h3 style="">КУХНЯ 8 кв.м.</h3>
            <ul>
                <li style="list-style:none;">6 углов
                <li style="list-style:none;">2 трубы
                <li style="list-style:none;">люстра
                <li style="list-style:none;">маскировочная лента
            </ul>
            <h3 style="font-weight:bold; padding-top:0;">6&nbsp;900&nbsp;p</h3>
        </div>
        <div class="col-xs-12 col-sm-4" style="text-align:center;">
            <img src="/Content/themes/ictec/images/s1201.jpg" style="width:100%;">
            <h3 style="">КОМНАТА 12 кв.м.</h3>
            <ul>
                <li style="list-style:none;">4 угла
                <li style="list-style:none;">2 трубы
                <li style="list-style:none;">люстра
                <li style="list-style:none;">маскировочная лента
            </ul>
            <h3 style="font-weight:bold; padding-top:0;">8&nbsp;290&nbsp;p</h3>
        </div>
        <div class="col-xs-12 col-sm-4" style="text-align:center;">
            <img src="/Content/themes/ictec/images/s1202.jpg" style="width:100%;">
            <h3 style="">КОМНАТА 17 кв.м.</h3>
            <ul>
                <li style="list-style:none;">6 углов
                <li style="list-style:none;">2 трубы
                <li style="list-style:none;">люстра
                <li style="list-style:none;">маскировочная лента
            </ul>
            <h3 style="font-weight:bold; padding-top:0;">11&nbsp;150&nbsp;p</h3>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="banner" style="color: #3d5861; padding-left: 150px; height:250px; background-image: url(/content/themes/ictec/images/bg/ceilings1.jpg);">
    <div class="content_body">
        <h1 style=" display: inline-block; ">
            ПОТОЛКИ СО СКИДКОЙ 30%
        </h1>
        <p>
            <span style="font-size: 24px;">Забронируйте себе скидку</span> <br />
            <a href="https://vk.com/natyaznie_potolki_murmansk?w=app5708398_-32864631" target="_blank" style="color: #3d5861 !important; text-decoration: none; cursor: pointer; font-style: italic; font-size: 24px; line-height: 100px;">узнать подробнее...</a>
        </p>
    </div>
</div>

<div class="content_body">
    <div class="OnlyText">
        <p style="text-align:justify; margin-top:20px;">
            Решив установить натяжной потолок, доверяйте работу профессионалам!
            При обращении в нашу компанию, осуществить ваши желания помогут инженеры-замерщики, внимательные менеджеры и монтажники с многолетним опытом работы.<br/>
            16 лет мы делаем ваш дом уютнее!
        </p>
        <p style="text-align:center;">
            <img src="/Content/themes/ictec/images/team.jpg" />
        </p>
    </div>

    @Html.Partial("ContactsBlock")

</div>


<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=5ZPSIHkH223NHzsLY7KUIr4yedi7drrI&height=350"></script>
