@{
    ViewBag.Title = "Светильники для натяжных потолков, лампочки, светодиодные ленты - «Облако»";
	ViewBag.MetaKeywords = "светильники для натяжных потолков, светодиодные светильники для натяжного потолка, точечные светильники для натяжных потолков, потолки натяжные со светильниками, натяжные потолки светильники фото";
    ViewBag.MetaDescription = "Советы по выбору освещения, светильники, люстры, лампочки для натяжных потолков";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<article class="article clearfix">

    <h1 class="a_title">Светильники для натяжных потолков</h1>

    <div class="a_photos_wrapper clearfix">
        <div class="a_photos carousel">
            <ul class="">
                <li><a class="coolimage a_photos_link" href="/Content/img/images/2_b15ee208dcb4.jpg" rel="article_photos_gallery" title="Разметка светильников"><img class="a_photos_photo" src="/Content/img/images/1_b15ee208dcb4.jpg" alt="Разметка светильников"></a></li>
                <li><a class="coolimage a_photos_link" href="/Content/img/images/2_1fac9bdd6dd9.jpg" rel="article_photos_gallery" title="Светодиодная подсветка за полотном"><img class="a_photos_photo" src="/Content/img/images/1_1fac9bdd6dd9.jpg" alt="Светодиодная подсветка за полотном"></a></li>
                <li><a class="coolimage a_photos_link" href="/Content/img/images/2_07efa4adb401.jpg" rel="article_photos_gallery" title="Прямолинейная разметка светильников и технологические отверствия"><img class="a_photos_photo" src="/Content/img/images/1_07efa4adb401.jpg" alt="Прямолинейная разметка светильников и технологические отверствия"></a></li>
                <li><a class="coolimage a_photos_link" href="/Content/img/images/2_dde4acfcecf0.jpg" rel="article_photos_gallery" title="Криволинейная в сочетании со светодиодной подстветкой"><img class="a_photos_photo" src="/Content/img/images/1_dde4acfcecf0.jpg" alt="Криволинейная в сочетании со светодиодной подстветкой"></a></li>
                <li><a class="coolimage a_photos_link" href="/Content/img/images/2_b09c5e279ca2.jpg" rel="article_photos_gallery" title=""><img class="a_photos_photo" src="/Content/img/images/1_b09c5e279ca2.jpg" alt=""></a></li>
            </ul>
        </div>
        <div class="a_photos_buttons">
            <button id="a_photos_next" class="a_photos_next">></button>
            <button id="a_photos_prev" class="a_photos_prev"><</button>
        </div>
    </div>

    <div class="a_body clearfix">
        <p style="text-align: justify;">К выбору освещения надо подходить ответственно, оценить свои пожелания по степени освещенности, по распределению света.&nbsp;<br /><br />Освещение может быть центральным, или точечным. <br /><br />Центральное освещение создает<strong> люстра</strong>. Рассеянный свет равномерно распределяется по комнате и дает вам достаточное и привычное глазу освещение. Классический вариант, подходящий для любого интерьера. Самые оптимальные варианты &ndash; любые люстры с креплением в виде планки или крестовины. <br /><br /><strong>Точечные светильники</strong> позволяют добавить света в те уголки комнаты, где вам необходим свет. Помимо этого, светильники играют важную декоративную роль &ndash; с их помощью можно разделить помещение на функциональные зоны, подчеркнуть индивидуальность своего интерьера. Существует множество вариантов разметки, наши специалисты подскажут вам наиболее подходящее решение с учетом расстановки мебели. <br />Светильники могут быть поворотными, это позволяет осветить, например, картины, различные композиции. <br /><br />Также популярен вариант<strong> комбинированного освещения</strong>, он включает в себя и люстру, и светильники. Люстра в этом случае несет главную декоративную нагрузку, а светильники дают дополнительный свет там, где он вам необходим. <br /><br />Следует отметить, что важную роль играет<strong> выбор лампочки</strong>. Галогеновые лампы предусматривают диммирование (можно регулировать яркость освещения). При этом сама лампа довольно сильно нагревается, и может повредить потолок, поэтому существует ограничение по мощности &ndash; до 35 Ватт. Также у ламп низкого качества существует вероятность обратного света &ndash; свет проходит за натяжной потолок, пленка начинает просвечивать, и могут быть заметны установочные платформы. Высота такого светильника и лампы чаще всего от 5 см, это означает, что потолок придется опустить на 7 см в среднем, это обусловлено технологией установки. Галогеновая лампа на порядок ниже по цене по сравнению с остальными. <br /><br />&nbsp; У нас в наличии представлены светильники и лампы Одеон нового поколения &ndash; таблетки GX53, GX70 в металлическом или пластиковом корпусе. Данный вид светильника предусматривает<strong> лампы GX53 двух видов &ndash; энергосберегающие, либо светодиодные</strong>. Они имеют долгий срок службы, позволяют снизить потребление электроэнергии, дают ровный рассеянный свет. К тому же, при перегорании, лампа легко заменяется без помощи мастера, без риска повредить полотно. Данные лампы не нагреваются, что позволяет вам выбрать наибольшую мощность. В нашем офисе представлены все образцы ламп и светильников, можно ознакомиться с ассортиментом,&nbsp; протестировать различные виды ламп. Менеджеры салона предоставят подробную консультацию по выбору лампы и светильника. <br />Также у нас представлены модели светильников для галогеновых и светодиодных ламп с цоколем MR-16, GU5.3.</p>
        <p style="text-align: justify;">Посмотреть <strong>фото светильников и ламп</strong> можно <a href="/List/ForDealers/55">в следующем разделе</a>&nbsp;<br /><br />Для декоративной подсветки потолков используются<strong> светодиодные ленты</strong>, позволяющие создать необычные дизайнерские решения.</p>
        <p style="text-align: justify;"></p>
    </div>

</article>

