@{
    ViewBag.Title = "Обводы труб, потолочный карниз для натяжных потолков - «Облако»";
	ViewBag.MetaKeywords = "обводы труб для натяжного потолка, карниз под натяжные потолки, потолочный карниз для натяжных потолков";
    ViewBag.MetaDescription = "Наша компания гарантирует качественные работы с потолочными карнизами, обводами труб, все наши мастера прошли специальное обучение.";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<article class="article clearfix">
    <h1 class="a_title">Обводы труб и карнизы для натяжных потолков</h1>

    <div class="a_photos_wrapper clearfix">
        <div class="a_photos carousel">
            <ul class="">
                <li><a class="coolimage a_photos_link" href="/Content/img/images/2_98db24a23e96.jpg" rel="article_photos_gallery" title="Потолочный карниз к натяжному потолку"><img class="a_photos_photo" src="/Content/img/images/1_98db24a23e96.jpg" alt="Потолочный карниз к натяжному потолку"></a></li>
                <li><a class="coolimage a_photos_link" href="/Content/img/images/2_cab1e52ffb6d.jpg" rel="article_photos_gallery" title="Ниша под карниз"><img class="a_photos_photo" src="/Content/img/images/1_cab1e52ffb6d.jpg" alt="Ниша под карниз"></a></li>
                <li><a class="coolimage a_photos_link" href="/Content/img/images/2_46599add84b7.jpg" rel="article_photos_gallery" title="Установка шведской стенки"><img class="a_photos_photo" src="/Content/img/images/1_46599add84b7.jpg" alt="Установка шведской стенки"></a></li>
                <li><a class="coolimage a_photos_link" href="/Content/img/images/2_72da92d8173d.jpg" rel="article_photos_gallery" title="Обвод трубы"><img class="a_photos_photo" src="/Content/img/images/1_72da92d8173d.jpg" alt="Обвод трубы"></a></li>
                <li><a class="coolimage a_photos_link" href="/Content/img/images/2_704aa08bd857.jpg" rel="article_photos_gallery" title="Ниша под карниз"><img class="a_photos_photo" src="/Content/img/images/1_704aa08bd857.jpg" alt="Ниша под карниз"></a></li>
                <li><a class="coolimage a_photos_link" href="/Content/img/images/2_27a4aeff86ff.jpg" rel="article_photos_gallery" title="Обвод трубы"><img class="a_photos_photo" src="/Content/img/images/1_27a4aeff86ff.jpg" alt="Обвод трубы"></a></li>
                <li><a class="coolimage a_photos_link" href="/Content/img/images/2_06f4fae0f90c.jpg" rel="article_photos_gallery" title="Обвод трубы"><img class="a_photos_photo" src="/Content/img/images/1_06f4fae0f90c.jpg" alt="Обвод трубы"></a></li>
            </ul>
        </div>
        <div class="a_photos_buttons">
            <button id="a_photos_next" class="a_photos_next">></button>
            <button id="a_photos_prev" class="a_photos_prev"><</button>
        </div>
    </div>

    <div class="a_body clearfix">
        <p style="text-align: justify;">&nbsp;<br />Большинство домов в нашем городе имеют <strong>трубы отопления</strong>, проходящие в стенах, и через перекрытия. Из-за этого, преимущественно над окнами, видны так называемые трубы-рожки, уходящие в потолок. Они являются определенным препятствием для натяжного потолка, ведь крепление производится к стенам. Но из этой ситуации давно нашли выход &ndash; трубы остаются на прежнем месте, выполняется их обвод пленкой натяжного потолка, и дополнительно это место усиливается, или декорируется специальными комплектующими. Стоит заметить, что обвод труб является достаточно ответственной работой, которую не стоит доверять новичкам &ndash; он должен быть аккуратным, не бросаться в глаза, полотно должно выглядеть целым, без&nbsp; видимых повреждений. Обвод трубы является самым простым решением данного вопроса. <br /><br />Следующий вариант, который можно предусмотреть &ndash; опустить натяжной потолок ниже труб, тем самым они остаются скрытыми полностью. Данный сценарий подходит к помещениям с высокими потолками, чтобы не уменьшать пространство комнаты. &nbsp;<br /><br />&nbsp;Можно необычно изменить геометрию пространства, опустив потолок ниже труб частично, волной, шатром, это придаст интерьеру необычный и запоминающийся эффект. <br /><br />Также популярным и простым решением становится <strong>создание ниши</strong> &ndash; потолок крепится не к самой стене, а к специально установленной закладной. Ниша является весьма доступным средством дизайна вашего помещения &ndash; отступ скрывает трубы, также в нишу можно спрятать потолочный карниз, таким образом, шторы будут выходить из-под потолка, этот эффект визуально увеличит высоту вашего помещения. К тому же за отступом можно смонтировать скрытую подсветку, которая создаст уют и гармонию в вашей комнате, и функционально - дополнительный свет для цветов, или рабочего места.</p>
        <p style="text-align: justify;"><br />Если вы планируете устанавливать <strong>потолочный карниз</strong> для штор, гардин, жалюзи, то еще мы можем закрепить его к поверхности натяжного потолка, для этого за полотном также устанавливается прочная закладная, ведь к самой пленке закрепить карниз не получится. Данные работы также должны производиться опытными мастерами, во избежание порчи полотна. <br /><br />Это наиболее распространенные варианты, они достаточно экономичны по стоимости, выполняются такие работы быстро и без лишних хлопот. Важно помнить, что потолочный карниз крепится в момент установки натяжного потолка, значит, приобрести его следует заранее. &nbsp;<br />Наша компания гарантирует качество монтажа, все работы выполняются опытными&nbsp; мастерами, прошедшими специальное обучение. <br /><br />Узнать все тонкости монтажа вы сможете, обратившись в нашу компанию, менеджеры предоставят вам полную консультацию, а также в нашем центральном офисе вы сможете вживую увидеть нишу со скрытым освещением, и другие интересные решения с применением натяжных потолков.</p>
        <p></p>
        <p style="text-align: left;">&nbsp;&nbsp;</p>
        <p style="text-align: left;"></p>
    </div>

</article>
