@using MvcApplication4_natpot.Models
@{
    Post Post = (Post)ViewData["Post"];
    ViewBag.Title = "Цена на натяжные потолки, калькулятор стоимости - «Облако», Мурманск";
    ViewBag.MetaKeywords = "натяжные потолки цена, натяжные потолки мурманск цены, натяжные потолки калькулятор цен, цены натяжные потолки апатиты, стоимость натяжного потолка, установка натяжных потолков стоимость, натяжные потолки прайсы, прайс лист натяжных потолков";
    ViewBag.MetaDescription = "Цены на натяжные потолки в Мурманске, калькулятор стоимости от нашей компании";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<article class="article clearfix">
    @if (Post != null)
    {
        @Html.Raw(Post.Content)
    }
    else {
    <h1 class="a_title">УЗНАТЬ СТОИМОСТЬ</h1>
    <div class="clearfix">
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <h2>Мы предлагаем Вам абсолютное качество от ведущего производителя потолков в Мурманске.&nbsp;</h2>
        <h1>Потолок на кухню<strong> - 4200!</strong></h1>
        <h1>Потолок в комнату 13 м2<strong>&nbsp;- 6400!</strong></h1>
        <h1>Потолок в комнату 18 м2<strong> - 8500!</strong></h1>
        <p></p>
        <h2><i>Самое выгодное предолжение <a href="/List/Discounts">здесь</a></i></h2>
        <p>Чтобы узнать стоимость натяжного потолка, необходимо указать следующие данные:</p>
        <ul>
            <li>площадь вашего помещения;</li>
            <li>количество внутренних и внешних углов;</li>
            <li>максимальную ширину;</li>
            <li>количество труб, уходящих в потолок (также наличие вытяжек, вентиляций и пр. );</li>
            <li>необходимость маскировочной ленты;</li>
            <li>выбор вашего освещения - люстры, светильники, их количество;</li>
            <li>необходимость потолочных карнизов, отступов под карниз;</li>
            <li>если потолок сложный, двухуровневый, со спайкой, либо с арт-печатью, необходимо получить консультацию менеджера по телефону, или в наших офисах.</li>
        </ul>
    </div>

    <div style="width:450px;margin:auto;"> <iframe class="iframe" src="http://calculador.ru/index.php/api/iframe_js/cSRY0A9OPGfy6OgB" width="450px" height="550px" style="border:0px;"></iframe></div>
    }

</article>
