@using MvcApplication3.Models
@{
    ViewBag.Title = "Index";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/SiteLayout.cshtml";
}

<div class="content_body">
    <div class="OnlyText">
        <h2 style="padding-top:20px;">ЦЕНЫ НА НАТЯЖНЫЕ ПОТОЛКИ</h2>
        <p style="text-align:justify;">
            Мы предлагаем Вам абсолютное качество от ведущего производителя потолков в Мурманске.
        </p>

        <div class="col-xs-12 col-sm-4" style="text-align:center;">
            <img src="/Content/themes/ictec/images/s1200.jpg" style="width:100%;">
            <h3 style="">КУХНЯ 8 кв.м.</h3>
            <ul>
                <li style="list-style:none;">6 углов
                <li style="list-style:none;">2 трубы
                <li style="list-style:none;">люстра
                <li style="list-style:none;">маскировочная лента
            </ul>
            <h3 style="font-weight:bold; padding-top:0;">6&nbsp;900&nbsp;p</h3>
        </div>
        <div class="col-xs-12 col-sm-4" style="text-align:center;">
            <img src="/Content/themes/ictec/images/s1201.jpg" style="width:100%;">
            <h3 style="">КОМНАТА 12 кв.м.</h3>
            <ul>
                <li style="list-style:none;">4 угла
                <li style="list-style:none;">2 трубы
                <li style="list-style:none;">люстра
                <li style="list-style:none;">маскировочная лента
            </ul>
            <h3 style="font-weight:bold; padding-top:0;">8&nbsp;290&nbsp;p</h3>
        </div>
        <div class="col-xs-12 col-sm-4" style="text-align:center;">
            <img src="/Content/themes/ictec/images/s1202.jpg" style="width:100%;">
            <h3 style="">КОМНАТА 17 кв.м.</h3>
            <ul>
                <li style="list-style:none;">6 углов
                <li style="list-style:none;">2 трубы
                <li style="list-style:none;">люстра
                <li style="list-style:none;">маскировочная лента
            </ul>
            <h3 style="font-weight:bold; padding-top:0;">11&nbsp;150&nbsp;p</h3>
        </div>
    </div>
</div>
<div class="content_body">
    <div class="OnlyText">
        <p style="text-align:center;">
            <a href="https://vk.com/natyaznie_potolki_murmansk?w=app5708398_-32864631" target="_blank">
                <img src="/Content/themes/ictec/images/dis.jpg" style="margin-top:40px;" />
            </a>
        </p>
    </div>
</div>
<div class="clearfix"></div>




<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=5ZPSIHkH223NHzsLY7KUIr4yedi7drrI&height=350"></script>
