@using MvcApplication4_natpot.Models
@{
    Post Post = (Post)ViewData["Post"];
    ViewBag.Title = "Роллеты «Облако»";
	ViewBag.MetaKeywords = "Роллеты Мурманск, роллеты на окна, роллеты фото";
    ViewBag.MetaDescription = "Изготовление и установка роллет в Мурманске, скидки постоянным клиентам!";
    ViewBag.MetaTitle = Post.Meta_Title;
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<article class="article clearfix">
    @if (Post != null)
    {
        @Html.Raw(Post.Content)
    }
    else {
        <h1 class="a_title">@ViewBag.Title</h1>

        <div class="a_body clearfix">
            <p style="text-align: center;"><em><strong>Раздел находится в стадии наполнения</strong></em></p>
        </div>
    }
</article>

