@using MvcApplication3.Models
@{
    ViewBag.Title = "Index";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/SiteLayout.cshtml";
}

<div class="content_body">
    <div class="OnlyText">
        <h2 style="padding-top:20px;">ВИДЕО О НАТЯЖНЫХ ПОТОЛКАХ</h2>
        <div style="text-align: center;">
            <iframe src="//www.youtube.com/embed/5ipzVBJYTzQ" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            <iframe src="//www.youtube.com/embed/VufwYjS9eAA" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            <iframe src="//www.youtube.com/embed/3YGWji5Vcvo" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>
    </div>
</div>
<div class="clearfix" style="margin-bottom:20px;"></div>

<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=5ZPSIHkH223NHzsLY7KUIr4yedi7drrI&height=350"></script>
