@using MvcApplication4_natpot.Models
@{
    ViewBag.Title = "Менеджер-консультант в салон продаж, открытые вакансии - «ЕВРО-СТРОЙ»";
	ViewBag.MetaKeywords = "вакансии ЕВРО-СТРОЙ";
    ViewBag.MetaDescription = "Информацию по актуальным вакансиям можно узнать по номеру 44-20-25.";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
    List<Post> Posts = (List<Post>)ViewData["Posts"];
}

<article class="article clearfix">

    <h1 class="a_title">Вакансии</h1>

    <div class="a_body clearfix">
        <p>Хотите работать в нашем дружном коллективе?&nbsp;<br />Отправьте резюме на почту&nbsp;<strong>Oblako-51@yandex.ru</strong>, и мы обязательно вам ответим!<br />Информацию по актуальным вакансиям&nbsp; можно узнать по номеру <strong>44-20-25.&nbsp;<br /><br /></strong></p>
    </div>

    @foreach (Post post in Posts) {
        <div class="n_list">
            <div class="n_title">
                @post.Title
            </div>
            @Html.Raw(post.Description)
            <div class="clear"></div>
        </div>
    }
    
</article>
