/*-- ===============================================

- Description -

Product: 'Pixel - HTML5 App Landing Page'
Version: 2;
Author: Mohammad Ahsan Habib
Date Created: February 6, 2017
Support: ahsanthemes@gmail.com

==================================================== --*/


/*-- == Table of contents =====================

( Example: Type 'ctrl+f' and then '1.example' to jump to the
 "example" section. Click 'find' if needed.)
 
1.reset css
2.header css
3.banner css
4.overview css
5.features css
6.starter css
7.screenshots css
8.details css
9.feedback css
10.video css
11.pricing css
12.blog css
13.subscribe css
14.contact css
15.footer css
16.Media Queries

================================================== --*/


/*-- 1.reset css
======================================== --*/
html{
	padding: 0;
	margin: 0;
}
body{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	position: relative;
}
p{
	font-size: 15px;
	line-height: 26px;
	color: #999999;
}
a{
	text-decoration: none!important;
}
.section_title{
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 2;
}
.section_title h2{
	width: 100%;
	display: block;
	font-size: 36px;
	line-height: 40px;
	color: #0188f4;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	z-index: 100;
	margin-bottom: 20px;
	position: absolute;
	top: -10px;
	left: 0;
}
.section_title .wt_mark{
	width: 100%;
	display: block;
	font-size: 60px;
	line-height: 1;
	color: #000000;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	opacity: .1;
}
.section_title p{
	max-width: 900px;
	margin: 0 auto;
}
h3{
	font-size: 18px;
	line-height: 30px;
	color: #444444;
	text-transform: capitalize;
	font-weight: 700;
}
h2.title{
	font-size: 30px;
	line-height: 40px;
	color: #444444;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
}
.btn{
	background: #ffffff;
	color: #555555;
	padding: 0 40px;
	font-size: 16px;
	line-height: 50px;
	font-weight: 700;
	text-transform: uppercase;
	border: 2px solid #ffffff;
	margin: 10px;
	margin-top: 20px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	border-radius: 50px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
.btn:hover,
.btn:focus{
	background: transparent;
	color: #ffffff;
}
.btn.start{
	background: transparent;
	color: #ffffff;
}
.btn.start:hover,
.btn.start:focus{
	background: #ffffff;
	color: #555555;
}
.btn.blue{
	background: #0188f4;
	color: #ffffff;
	border-color: #0188f4;
}
.btn.blue:hover,
.btn.blue:focus{
	background: transparent;
	color: #0188f4;
}
.bg-white{
	background: #ffffff;
}
.bg-off{
	background: #eeeeee;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span{
	background: #0066ff;
}
.hvr{
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
}
.hvr:before{
	content: '';
	position: absolute;
	border: #e1e1e1 solid 3px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}
.hvr:hover:before, 
.hvr:focus:before, 
.hvr:active:before {
	-webkit-animation-name: hvr;
	animation-name: hvr;
}

/*-- button hover effect --*/
@-webkit-keyframes hvr{
	100% {top: -12px; right: -12px; bottom: -12px; left: -12px; opacity: 0;}
}
@keyframes hvr{
	100% { top: -12px; right: -12px; bottom: -12px; left: -12px; opacity: 0;}
}

/*-- 2.header css
================================== --*/
.navbar-default{
	background: #ffffff;
	border: none;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.10);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.10);
	-ms-box-shadow: 0 0 3px rgba(0,0,0,.10);
	box-shadow: 0 0 3px rgba(0,0,0,.10);
	margin: 0;
	z-index: 999999;
}
.navbar-default li{
	margin:  0 15px;
}
.navbar-brand{
	height: auto;
	padding: 20px 15px 0;
	line-height: 80px;
}
.navbar-brand img{
	max-width: 125px;
}
.navbar-default .navbar-nav li a,
footer li a{
	font-size: 13px;
	line-height: 80px;
	color: #777777;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 0;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover,
footer li a:hover,
footer li a:focus{
	color: #0188f4;
	background-color: transparent; 
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover{
	color: #0188f4;
	background-color: transparent;
}
.WebProduct-SubTitle{
	color: #777777;
}

/*-- 3.banner css
================================== --*/
.banner{
	width: 100%;
	height: 100vh;
	background: url(../images/bg.jpg) center center no-repeat;
	background-size: cover;
	color: #ffffff;
	position: relative;
}
.banner .content{
	max-width: 800px;
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.banner h1{
	font-size: 54px;
	font-weight: 900;
	text-transform: capitalize;
}
.banner h1 span{
	font-size: 90px;
	display: block;
}
.banner p{
	color: #ffffff;
}

/*-- html5 video background --*/
.banner.video_bg{
	height: auto;
	background: none;
}
.banner.video_bg .video_inner{
	position: relative;
}
.banner.video_bg .video_inner .overlay{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
	position: absolute;
	left: 0;
	right: 0;
	top: -6px;
}
.banner.video_bg video{
	width: 100%;
}
.banner.video_bg .container,
.banner.video-section .container{
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 9999;
}
.banner.video_bg h1,
.banner.video-section h1{
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 8px;
}
.banner.video_bg h1 span,
.banner.video-section h1 span{
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 20px;
}

/*-- youtube video background --*/
.banner.video-section{
	background: #252525;
}
.video-section .pattern-overlay {
	background-color: rgba(0,0,0,.3);
	padding: 0 15px;
	height: 100vh;
	position: relative;
}
.video-section .buttonBar{display:none;}
.player {font-size: 1px;}


















/*-- 4.overview css
================================== --*/
.overview{
}
.overview .content{
	padding: 0 20px;
}
.overview .icon{
	width: 100px;
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: #eeeeee;
}
.overview .icon i{
	font-size: 36px;
	line-height: 100px;
	color: #0188f4;
}
.overview .content:hover .hvr:before {
	-webkit-animation-name: hvr;
	animation-name: hvr;
}

/*-- 5.features css
================================== --*/
.features .content h3{
	position: relative;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
	cursor: pointer;
}
.features .content h3:hover{
	color: #0188f4;
}
.features .content h3 i{
	position: absolute;
	right: -60px;
	top: 8px;
	z-index: 5;
	font-size: 36px;
	line-height: 1;
	color: #0188f4;
	font-weight: bold;
}
.features .content.pl-70 h3 i{
	right: auto;
	left: -60px;
}

/*-- 6.starter css
================================== --*/
.starter h4{
	font-size: 30px;
	line-height: 30px;
	color: #ffffff;
	font-weight: 700;
}
.starter p{
	color: #ffffff;
}

/*-- 7.screenshots css
================================== --*/
.screenshots .kc-item img{
	width: 100%;
	height: 100%;
	left: 0;
	position:absolute;
	cursor: pointer;
}
.screenshots .hvr-shutter-in-horizontal{
	background-color: #555555!important;
	margin: 30px 0 20px;
	color: #eaad13!important;
}
.screenshots .hvr-shutter-in-horizontal::before{
	background-color: #ffffff!important;
}
.screenshots .kc-wrap{
	padding-bottom: 33%;
}
.screenshots p{
	max-width: 900px;
	margin: 0 auto ;
}

/*-- 8.details css
================================== --*/
.details h2{
	font-size: 36px;
	line-height: 1;
	font-weight: 700;
}
.details .btn{
	line-height: ;
	margin: 10px 0;
}
.details.get_app h2{
	font-size: 54px;
	text-transform: capitalize;
	color: #003471;
}
.details .content{
	position: relative;
}
.details .content .owl-carousel{
	width: 350px;
	height: auto;
	margin: 0 auto;
	background: url(../images/figure.png) center top no-repeat;
	background-size: contain;
	padding: 50px 90px 87px 81px;
}
.details .content .figure{
	width: 290px;
	position: absolute;
	top: -45px;
	left: 51%;
	transform: translateX(-50%);
}
.details .owl-dots{
	width: 100%;
	position: absolute;
	bottom: 85px;
	left: 0;
}
.details .list-inline a i{
	font-size: 24px;
	line-height: 1;
	color: #0188f4;
	padding: 5px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
.details .list-inline a:hover i{
	color: #555555;
}
.details .owl-dots .owl-dot span{
	width: 5px;
	height: 5px;
}
.details.get_app h4{
	font-size: 20px;
}
.get_app p{
	max-width: 800px;
	margin: 0 auto 30px;
}
.get_app a img:hover{
	opacity: .7;
}

/*-- 9.feedback css
================================== --*/
.feedback{
	background: url(../images/feedback.jpg) center top no-repeat;
	background-size: cover;
	color: #ffffff;
}
.feedback h2{
	color: #ffffff;
	position: static;
}
.feedback p{
	max-width: 900px;
	margin: 0 auto 30px;
	color: #ffffff;
}
.feedback .comment{
	background: #ffffff;
	color: #999999;
	padding: 30px;
	margin-top: 80px;
	position: relative;
	overflow: visible;
}
.feedback img{
	max-width: 100px;
	position: absolute;
	left: 50%;
	top: -80px;
	margin-left: -50px;
	border: 5px solid #ffffff;
}
.feedback .item h4{
	font-size: 16px;
	line-height: 1.5;
	color: #ffffff;
	font-weight: 700;
}

/*-- 10.video css
================================== --*/
.video{
}

/*-- 11.pricing css
================================== --*/
.pricing ul{
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,.15);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,.15);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,.15);
	box-shadow: 0 3px 10px rgba(0,0,0,.15);
	overflow: hidden;
	margin-bottom: 30px;
	cursor: pointer;
}
.pricing.recommend{
	-webkit-box-shadow: 0 5px 50px rgba(0,0,0,.15);
	-moz-box-shadow: 0 5px 50px rgba(0,0,0,.15);
	-ms-box-shadow: 0 5px 50px rgba(0,0,0,.15);
	box-shadow: 0 5px 50px rgba(0,0,0,.15);
}
.pricing ul:hover{
	-webkit-box-shadow: 0 5px 50px rgba(0,0,0,.15);
	-moz-box-shadow: 0 5px 50px rgba(0,0,0,.15);
	-ms-box-shadow: 0 5px 50px rgba(0,0,0,.15);
	box-shadow: 0 5px 50px rgba(0,0,0,.15);
}
.pricing li{
	font-size: 12px;
	line-height: 1.5;
	padding: 10px 0;
	text-transform: uppercase;
	color: #999999;
	letter-spacing: 1px;
}
.pricing .heading{
	font-size: 16px;
	padding: 30px 0;
	color: #999999;
	font-weight: 700;
	position: relative;
}
.pricing.recommend .heading::after{
	content: " recommended ";
	background: #ffffff;
	font-size: 10px;
	line-height: 40px;
	color: #3fb200;
	padding: 0 40px;
	position: absolute;
	left: -48px;
	top: 15px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.15);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.15);
	-ms-box-shadow: 0 0 10px rgba(0,0,0,.15);
	box-shadow: 0 0 10px rgba(0,0,0,.15);
}
.pricing .price{
	padding: 25px 0;
	background: #eeeeee;
	margin-bottom: 20px;
}
.pricing .price span{
	font-size: 36px;
	line-height: 1;
	color: #0188f4;
	font-weight: 700;
	display: block;
	margin-bottom: 10px;
}
.pricing .btn{
	line-height: 40px;
	margin: 15px 0;
	padding: 0 30px;
}

/*-- 12.blog css
================================== --*/
.blog .item{
	border: 1px solid #eeeeee;
	margin-bottom: 30px;
}
.blog .content{
	padding-top: 0;
}
.blog a{
	font-size: 13px;
	color: #555555;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}
.blog h3 a{
	font-size: 16px;
	font-weight: 700;
	color: #555555;
}
.blog h6{
	font-size: 11px;
	line-height: 1;
	color: #999999;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.blog h6 a{
	font-size: 10px;
	color: #999999;
	font-weight: 400;
	border-left: 2px solid #cccccc;
}
.blog a i{
	vertical-align: middle;
}
.blog a:hover{
	color: #0188f4;
}
.blog .owl-theme .owl-nav{
	position: absolute;
	top: -65px;
	right: 0;
}
.blog .owl-theme .owl-nav [class*="owl-"]{
	background: #0188f4;
	border-radius: 0;
	font-size: 12px;
	line-height: 25px;
	text-transform: uppercase;
	margin: 1px;
}

/*-- 13.subscribe css
================================== --*/
.subscribe h3{
	font-size: 30px;
	line-height: 1;
	color: #ffffff;
	font-weight: 700;
}
.subscribe .section_title h2{
	position: static;
	color: #ffffff;
	margin-bottom: 10px;
}
.subscribe .section_title p{
	color: #ffffff;
}
.subscribe form{
	max-width: 570px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.subscribe .form-control{
	width: 100%;
	height: 50px;
	padding: 0 40px;
	background: #ffffff;
	color: #999999;
	box-shadow: none;
	border: none;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	border-radius: 50px;
}
.subscribe .btn{
	position: absolute;
	right: 3px;
	top: 3px;
	margin: 0;
	border: none;
	line-height: 44px;
}
.subscribe .btn:hover,
.subscribe .btn:focus{
	background: #e1e1e1;
}

/*-- 14.contact css
======================================== --*/
.quform-outer{
	max-width: 350px;
	width: 100%;
	background: #363636;
	position: fixed;
	top: 150px;
	right: -350px;
	z-index: 9999;
}
.quform-inner{
	position: relative;
}

.msg_icon{
	width: 50px;
	height: 50px;
	background: #363636;
	position: absolute;
	left: -50px;
	top: 50%;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	box-shadow: 0 2px 5px rgba(0,0,0,.10);
}
.quform-title{
	color: #ffffff;
}
.msg_icon .floating{
	display: block;
	cursor: pointer;
}
.msg_icon i{
	color: #ffffff;
	font-size: 20px;
	line-height: 50px;
}
.expand{
	right: 0;
}
.quform-outer .form-control{
	width: 100%!important;
	padding: 0 20px;
	height: 50px;
	margin-bottom: 15px;
	box-shadow: none;
}
.quform-outer textarea.form-control{
	padding: 13px 20px;
}
.quform-outer .form-control:hover,
.quform-outer .form-control:focus{
	border-color: #009fe1;
}
label{
	color: #363636;
}
.quform-submit-inner{
	float: none;
}
.quform-outer .btn{
	width: 180px;
}
.quform-errors > .quform-error, 
.quform-outer-no-js .quform-error{
	background: #ffffff url('../images/info.png') 6px center no-repeat;
	border:none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	padding: 10px 25px;
	font-size: 14px;
	color: #00c2fc;
}

/*-- 15.footer css
======================================== --*/
footer{
	background: #252525;
}
footer img{
	max-width: 200px!important;
}
footer .list-inline{
	margin: 30px 0;
}
footer ul li{
	padding: 0!important;
	margin: 0 10px;
}
footer li a{
	line-height: 30px;
	color: #555555;
}
footer li.social{
	display: block;
	padding: 0;
}
footer .social ul{
	margin: 20px auto;
}
footer li.social a .fa{
	width: 30px;
	line-height: 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	background: #363636;
}


/*-- 16.Media Queries
======================================== --*/

@media screen and (max-width: 1200px) {
	.navbar-default li{
		margin: 0 10px;
	}
	.features .content{
		padding-top: 10px;
	}
	.features .content.text-right{
		padding-right: 30px;
	}
	.features .content.text-left{
		padding-left: 30px;
	}
	.features .content p{
		line-height: 25px;
	}
	.features .content h3 i{
		right: -50px;
	}
	.features .content.pl-70 h3 i{
		left: -50px;
	}
}

@media screen and (max-width: 991px) {
	.container-fluid{
		padding: 0 30px;
	}
	.features .content{
		padding: 0 15px;
	}
	.features .content h3 i{
		display: block;
		position: static;
		margin-bottom: 15px;
	}
	.features .content h3::after{
		display: none;
	}
	.navbar-default li{
		margin: 0 8px;
	}
	.navbar-default .navbar-nav li a{
		font-size: 11px;
		letter-spacing: 0;
	}
	.features .row{
		margin-bottom: 20px;
	}
	.features [class*="col-"]{
		padding: 0 20px;
	}
	.features img{
		margin-top: 50px;
	}
}

@media screen and (max-width: 767px) {
	*{
		text-align: center;
	}
	.pull-right{
		float: none!important;
		margin: 0 auto;
	}
	h2{
		font-size: 24px!important;
		line-height: 1.2!important;
	}
	.section_title h2{
		font-size: 24px!important;
		top: -15px;
	}
	.section_title h2 span{
		font-size: 24px;
	}
	.section_title .wt_mark{
		font-size: 40px;
		top: 0;
	}
	.navbar-toggle_main{
		margin: 20px 15px 16px 0;
		background: #0188f4;
		border: none;
		border-radius: 0;
	}
	.navbar-default .navbar-toggle_main .icon-bar{
		background: #ffffff;
	}
	.navbar-default .navbar-toggle_main:hover,
	.navbar-default .navbar-toggle_main:focus{
		background: #555555;
	}
	.navbar-default .navbar-nav li a{
		line-height: 40px;
	}
	.banner.video_bg video{
		padding-top: 50px;
	}
	.banner.video_bg h1{
		font-size: 20px;
		font-weight: 300;
		letter-spacing: 2px;
		padding-top: 50px;
	}
	.banner.video_bg h1 span{
		font-size: 36px;
		font-weight: 700;
		margin-bottom: 10px;
	}
	.features .content{
		padding: 0!important;
		text-align: center;
	}
	.grad{
		text-align: center;
	}
	.banner h1 span{
		font-size: 54px;
	}
	.banner h1{
		font-size: 30px;
	}
	.blog .owl-theme .owl-nav{
		right: 50%;
		-webkit-transform: translateX(50%);
		-moz-transform: translateX(50%);
		-ms-transform: translateX(50%);
		transform: translateX(50%);
	}
	.subscribe .form-control{
		max-width: 100%;
	}
	.subscribe .form-control{
		padding: 0 20px;
		text-align: left;
	}
	.subscribe .btn{
		padding: 0 20px;
		font-size: 14px;
	}
	.features .pt-70{
		padding-top: 0;
	}
	.quform-outer{
		position: static;
		max-width: 100%;
		padding: 30px 15px;
	}
	.quform-inner{
		padding: 0;
	}
	.msg_icon{
		display: none;
	}
}


/*-- ============== End of css ============== --*/

