@media screen and (max-width: 992px) {

	.construct_box {
	    width: 700px;
	    height: 438px;
	}

	.celling {
	    height: 127px;
	}

	.logo_company {
	    left: 201px;
	    top: 290px;
	    width: 101px;
	    height: 68px;
	}
	.logo_img {
	    width: 96%;
	    height: 100%;
	}
	.video_bg {
	    left: 218px;
	    top: 160px;
	    height: 175px;
	}

}	


@media screen and (max-width: 720px) {



	.construct_box {
	    width: 600px;
	    height: 376px;
	}

	.celling {
	    height: 112px;
	}

	.logo_company {
	    left: 171px;
	    top: 249px;
	    width: 88px;
	    height: 68px;
	}

	.logo_img {
	    width: 96%;
	    height: 100%;
	}
	.video_bg {
	    left: 209px;
	    top: 142px;
	    height: 149px;
	    width: 168px;
	}
	.logo_overlay {
	    border: none;
	}
	.covervid-video2 {
	    width: 279px;
	}

}	


@media screen and (max-width: 629px) {

	.construct_box {
	    width: 500px;
	    height: 312px;
	}

	.celling {
	    height: 93px;
	}

	.logo_company {
	    left: 142px;
	    top: 207px;
	    width: 74px;
	    height: 50px;
	    border: 2px inset #7b7b7b;
	}

	.logo_img {
	    width: 96%;
	    height: 100%;
	}
	.video_bg {
	    left: 185px;
	    top: 116px;
	    height: 122px;
	    width: 125px;
	}
	.logo_overlay {
	    border: none;
	}
	.covervid-video2 {
	    width: 241px;
	}

}	


@media screen and (max-width: 525px) {
	
	.construct_box {
	    width: 400px;
	    height: 251px;
	}

	.celling {
	    height: 75px;
	}

	.logo_company {
	    left: 115px;
	    top: 168px;
	    width: 56px;
	    height: 36px;
	    border: 2px inset #7b7b7b;
	}

	.logo_img {
	    width: 96%;
	    height: 100%;
	}
	.video_bg {
	    left: 142px;
	    top: 93px;
	    height: 101px;
	    width: 101px;
	}
	.logo_overlay {
	    border: none;
	}



}	


@media screen and (max-width: 435px) {

	.construct_box {
	    width: 300px;
	    height: 188px;
	}

	.celling {
	    height: 56px;
	}

	.logo_company {
	    left: 87px;
	    top: 126px;
	    width: 41px;
	    height: 26px;
	    border: 1px inset #7b7b7b;
	}
	
	.logo_img {
	    width: 96%;
	    height: 100%;
	}
	.video_bg {
	    left: 108px;
	    top: 69px;
	    height: 75px;
	    width: 69px;
	}
	.logo_overlay {
	    border: none;
	}
	button.btn_open_modal_zam {
	    font-size: 11px;
	}
	.covervid-video2 {
	    width: 142px;
	}

}	




